@using WebApplicationAbad.Areas.CompanyData.Models;
@model IEnumerable<ContractDatum>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Companies Data";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p>@ViewBag.ex</p>
<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
            <div class="text-start">
                <a class="btn btn-outline-primary" asp-action="Create">اضافه  <i class="fa-solid fa-plus"></i> </a>
            </div>
            <h2 class="card-title">بيانات العقد</h2>
        </div>
        <div class="p-3 col-4">
            <input type="text" id="searchInput" class="form-control" oninput="searchTable()" placeholder="Search.....">
        </div>
        <form asp-action="GetCoursesStutesIndex" onsubmit="return AllBool()">
            <table id="myTable" class="table mt-2 table-striped">
                <thead>
                    <tr>
                        <th>
                            رقم
                        </th>
                        <th>
                           تاريخ العقد
                        </th>
                        <th>
                        عدد الطلاب
                        </th>
                        <th>
                            عنوان
                        </th>
                        <th>
                            موضوع
                        </th>
                        <th>
                           قيمة
                        </th>
                     
                        <th>
                            نوع الدوره
                        </th>
                        <th>
                          اسم الدوره
                        </th>
                        <th>
                          اسم الشركه
                        </th>
                          <th>
                            حاله العقد
                        </th>
                        <th>
                            ملاحظات
                        </th>
                        <th>العمليات</th>
                    </tr>
                </thead>
                <tbody>

                   @* @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Id)</td>
                            <td>  @Html.DisplayFor(modelItem => item.ContractDate)</td>
                            <td>  @Html.DisplayFor(modelItem => item.StudentCount)</td>
                            <td>  @Html.DisplayFor(modelItem => item.Tiltle)</td>
                            <td>  @Html.DisplayFor(modelItem => item.Subject)</td>
                            <td>  @Html.DisplayFor(modelItem => item.ContractPrise)</td>
                         
                            <td>  @Html.DisplayFor(modelItem => item.CoursesData.CoursesType.ArabicName)</td>
                            <td>  @Html.DisplayFor(modelItem => item.CoursesData.HeaderAr)</td>
                            <td>  @Html.DisplayFor(modelItem => item.CompaniesData.EnglishName)</td>
                            <td>  @Html.DisplayFor(modelItem => item.ContractStatus.ArabicName)</td>
                            <td>  @Html.DisplayFor(modelItem => item.Nots)</td>
                            <td class="table-action">
                                <a class="btn btn-success" asp-action="GetCoursesTypeCreate" asp-route-id="@item.Id"><i class="align-middle" data-feather="edit-2"></i></a>
                                <button type="submit" class="btn btn-danger" asp-route-id="@item.Id"><i class="align-middle" data-feather="trash"></i></button>
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </form>

    </div>
</div>
