@using WebApplicationAbad.Areas.AdminCoursesData.Models;
@using WebApplicationAbad.Data;
@inject ApplicationDbContext context;
@model WebApplicationAbad.Areas.AdminManageData.Data.Student;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Coursesm Scheduless";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var model1 = ViewBag.StudentReserveds as IEnumerable<CoursesReserved>;
    int Count = 0;

    var Company = context.CompaniesData.Where(b=>!b.IsDelete).ToList();
    SelectList listItems = new SelectList(Company, "Code", "ArabicName");
    ViewBag.ListItmeDataHole = listItems;

    var result = context.coursesSchedulesses
    .Where(b => b.IsHide == false && !b.IsDelete && b.CoursesStatusId == 1)
    .Select(cs => new SelectListItem
            {
                Value = cs.Id.ToString(),
                Text = $"{cs.Id}  -{cs.StartDate.Value.ToString("dd-MM-yyyy")} - {cs.StartTime} - {cs.CoursesData.HeaderAr} - {cs.Trainer.NameAr}"
            })
    .ToList();
    ViewBag.ListItmeData = new SelectList(result, "Value", "Text");
}
<link href="~/Admin/css/StyleSheet.css" rel="stylesheet">

<style>
    .popup-container , .popup-container2 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .popup-content, .popup-content2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 50%;
        direction: ltr;
    }

    #courseSelect {
        direction: ltr;
    }

    .close-btn, .close-btn2 {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    .marg {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    h4 {
        ont-size: 22px;
        font-weight: bold;
        color: #677880;
    }

    .table-action a {
        color: #ffffff;
    }

    .tab-title {
        font-size: 10px !important;
    }

    .tab-title1 {
        font-size: 12px !important;
    }

    .mod {
        margin-top: 30px;
        margin-bottom: 30px;
    }

        .mod button {
            font-size: 16px;
            font-weight: bold;
        }

    .Roal {
        display: none;
        flex-wrap: wrap
    }

    .active {
        display: none;
    }

</style>
<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>اسم الطالب</th>
                    <th>البريد الالكتروني</th>
                    <th>الهاتف</th>
                    <th>رقم الهوية</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ArabicName</td>
                    <td>@Model.Email</td>
                    <td>@Model.Phone</td>
                    <td>@Model.Idnumber</td>                   
                </tr>
            </tbody>



        </table>

        <div class="text-center marg">
            <h4>الدورات المسجل به الطالب</h4>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>م</th>
                    <th>اسم الدورة</th>
                    <th>تاريح البداية</th>
                    <th>تاريخ النهاية</th>
                    <th>نقل الطالب</th>
                    <th>حاله الدفع</th>
                    <th>نوع الطالب</th>
                    <th>الفواتير</th>
                    <th>حذف من الدورة</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in model1)
                {

                    <tr>
                        <th>
                            @{
                                Count++;
                            }
                            @Count
                        </th>
                        <th><a asp-action="GetCoursesDataDetils" style="color:red" asp-controller="CoursesData" asp-route-id="@item.CoursesScheduless.CoursesDataId" target="_blank">@item.CoursesScheduless.CoursesData.HeaderAr</a></th>
                        <th>@item.CoursesScheduless.StartDate.Value.ToString("dd-MM-yyyy")</th>
                        <th>@item.CoursesScheduless.EndDate.Value.ToString("dd-MM-yyyy")</th>
                        <td class="table-action">
                            <a class="btn btn-success openPopup" data-Id="@item.Id">نقل الطالب</a>
                        </td>
                        <td class="table-action">
                            @if (@item.StutusPaidup == true)
                            {
                                <span class="tab-title1 badge bg-success">تم الدفع</span>
                            }
                            else
                            {
                                <span class="tab-title1 badge bg-danger">لم يتم الدفع</span>
                            }

                        </td>
                        <td class="table-action">
                            @if (item.IsCompany == true)
                            {
                                <span class="tab-title1 badge bg-dark">شركات</span>
                            }
                            else
                            {
                                <span class="tab-title1 badge bg-warning">افراد</span>
                            }
                        </td>
                        <td class="table-action">
                            @if (item.StutusPaidup == false)
                            {
                                <a class="btn btn-info" style="width:100px" asp-controller="Invoice" asp-action="GetInvoice" asp-route-id="@item.Id" target="_blank">اصدار فاتوره</a>
                            }
                            else
                            {
                                <a class="btn btn-info" style="width:100px" asp-controller="Invoice" asp-action="GetInvoice" asp-route-id="@item.Id" target="_blank">عرض الفاتورة</a>

                            }
                        </td>
                        <td class="table-action">
                            @if (item.StutusPaidup == false)
                            {
                                <a class="btn btn-danger deleteStudnt" data-Id="@item.Id">حذف الطالب</a>
                            }

                        </td>
                    </tr>

                    <div id="popupContainer" class="popup-container">
                        <div class="popup-content">
                            <span class="close-btn" id="closePopup">&times;</span>
                            <h2 class="text-center">نقل الطالب من الدورة</h2>
                            <hr />
                            <div class="d-flex justify-content-center">
                                <select id="courseSelect" class="form-select" asp-items="ViewBag.ListItmeData" style="width:70%">
                                </select>
                                <label for="courseSelect" style="font-size: 20px;font-weight: bold;margin-left:5px">:اختر الدورة</label>
                            </div>
                            <br />
                            <div class="text-center">
                                @*<a asp class="btn btn-primary" asp-route-idResved="@item.Id" asp-route-NewSeccId="" asp-route-IdSecc="@model2.Id" asp-controller="CoursesScheduless" asp-action="Tarnsform" style="font-size: 20px; width: 30%;" id="moveStudent">نقل الطالب</a>*@
                                <button class="btn btn-primary" id="moveStudent">نقل الطالب</button>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>

        <div id="popupContainer" class="popup-container">
            <div class="popup-content">
                <span class="close-btn" id="closePopup">&times;</span>
                <h2 class="text-center">نقل الطالب من الدورة</h2>
                <hr />
                <div class="d-flex justify-content-center">
                    <select id="courseSelect" class="form-select" asp-items="ViewBag.ListItmeData" style="width:70%">
                    </select>
                    <label for="courseSelect" style="font-size: 20px;font-weight: bold;margin-left:5px">:اختر الدورة</label>
                </div>
                <br />
                <div class="text-center">
                    @*<a asp class="btn btn-primary" asp-route-idResved="@item.Id" asp-route-NewSeccId="" asp-route-IdSecc="@model2.Id" asp-controller="CoursesScheduless" asp-action="Tarnsform" style="font-size: 20px; width: 30%;" id="moveStudent">نقل الطالب</a>*@
                    <button class="btn btn-primary" id="moveStudent">نقل الطالب</button>
                </div>
            </div>
        </div>

        <div class="text-center mt-5 mb-5">
            <button class="btn btn-dark openPopup2">اضافة دورة للطالب</button>
        </div>

        <div id="popupContainer2" class="popup-container2">
            <div class="popup-content2">
                <span class="close-btn" id="closePopup2">&times;</span>
                <h2 class="text-center">اضافة دورة الى الطالب</h2>
                <hr />
                <div class="d-flex justify-content-center">
                    <select id="courseSelect2" class="form-select" asp-items="ViewBag.ListItmeData" style="width:70%">
                    </select>
                    <label for="courseSelect" style="font-size: 20px;font-weight: bold;margin-left:5px">:اختر الدورة</label>
                </div>
                <br />


                <div class="mb-3 col-12" >
                    <label class="form-check m-0">
                        شركه
                        <input class="form-check-input" name="IsCompany" value="false" type="checkbox" id="fomt" onclick="FunPro()" />
                    </label>
                </div>

                <div class="Roal" id="CompanyID" dir="rtl">
                    <div class="mb-3 col-12 ">
                        <label class="control-label">اسم الشركه</label>
                        <select id="selectCompany" class="form-select" asp-items="ViewBag.ListItmeDataHole">
                            <option value="">اختر الشركه</option>
                        </select>
                    </div>

                    <div class="mb-3 col-12">
                        <label class="control-label">العقد</label>
                        <select class="form-select" name="ContractID" id="selectContract">
                            <option value="">اختر العقد</option>
                        </select>
                    </div>
                </div>


                <div class="text-center">
                    <button class="btn btn-primary" id="addCourse">اضافة الدورة</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('.openPopup').each(function () {
            $(this).on('click', function () {
                var dataIdValue = $(this).data('id');
                $('#popupContainer').css('display', 'block');
                $('#moveStudent').attr('data-id', dataIdValue);

            });
        });



        $('#closePopup').on('click', function () {
            $('#popupContainer').css('display', 'none');
        });

        $('.popupContent .moveStudent').on('click', function () {
            $('#popupContainer').css('display', 'none');
        });
    });
    $(document).ready(function () {
        $('.openPopup2').each(function () {
            $(this).on('click', function () {
                var dataIdValue = $(this).data('id');
                $('#popupContainer2').css('display', 'block');
                $('#moveStudent').attr('data-id', dataIdValue);

            });
        });

        $('#closePopup2').on('click', function () {
            $('#popupContainer2').css('display', 'none');
        });

        $('.popupContent2 .moveStudent').on('click', function () {
            $('#popupContainer2').css('display', 'none');
        });
    });
</script>
<script>
    $('#moveStudent').on('click', function (e) {
        var selectedValue = $('#courseSelect').val();
        var StduentID = '@Model.Id';
        var idResved = $(this).attr('data-id');

        console.log(selectedValue);
        console.log(StduentID);
        console.log(idResved);



        $.ajax({
            url: '/AdminCoursesData/Students/TransfarmStduent',
            method: 'GET',
            data: {
                NewSeccId: selectedValue,
                idResved: idResved
            },
            cache: false,
            success: function (data) {
                var IdSec = '@Model.Id';
                console.log(IdSec);
                var newUrl = `/AdminCoursesData/Students/GetDetailsStudent/${IdSec}`;
                window.location.href = newUrl;
            },
            error: function (error) {
            }
        });
    });

    $('#addCourse').on('click', function (e) {
        
        var selectedValue2 = $('#courseSelect2').val();
        var StduentID = '@Model.Id';
        var IsCompany = $('#fomt').is(':checked'); 
        var ContractID = $('#selectContract').val();
        var ConpanyID = $('#selectCompany').val();

        console.log(ContractID);
        console.log(ConpanyID);
        console.log(IsCompany);



        $.ajax({
            url: '/AdminCoursesData/Students/AddCourseToStduent',
            method: 'GET',
            data: {
                SeccID: selectedValue2,
                StduentID: StduentID,
                IsCompany: IsCompany,
                ContractID: ContractID,
                ConpanyID: ConpanyID
            },
            cache: false,
            success: function (data) {
                if (data) {
                    var IdSec = '@Model.Id';
                    var newUrl = `/AdminCoursesData/Students/GetDetailsStudent/${IdSec}`;
                    window.location.href = newUrl;
                } else {
                    swal({
                        title: "بيانات مكررة",
                        text: 'الطالب موجود في الدورة من قبل',
                        icon: "error"
                    });
                }
                
            },
            error: function (error) {
            }
        });
    });


    $(document).ready(function () {
        $('.deleteStudnt').each(function () {
            $(this).click(function (e) {
                var con = confirm("هل تريد بالفعل حذف الدورة من الطالب")
                if (con == true) {
                    var RedvedId = $(this).attr("data-Id");
                    $.ajax({
                        url: '/AdminCoursesData/CoursesScheduless/DeleteStudent',
                        type: 'GET',
                        data: { Id: RedvedId },
                        cache: false,
                        success: function (result) {
                            location.reload();
                        }
                    });
                }

            });
        });
    });
</script>


<script>
    function FunPro() {
        var companyDiv = document.getElementById("CompanyID");
        var checkbox = document.getElementById("fomt");

        if (checkbox.checked) {
            companyDiv.style.display = "flex";
        } else {
            companyDiv.style.display = "none";
        }
    }

        document.addEventListener("change", function () {
            $('#selectCompany').change(function () {
                var selectedValue = $(this).val();
                $.ajax({
                    url: '/AdminCoursesData/CoursesScheduless/GetCompanyData',
                    type: 'GET',
                    data: { CopanyId: selectedValue },
                    success: function (data) {
                        var coursesDataSelect = $('#selectContract');

                        coursesDataSelect.empty();
                        coursesDataSelect.append($('<option>', {
                            value: '',
                            text: 'اختر العقد'
                        }));

                        $.each(data, function (index, item) {
                            coursesDataSelect.append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    }
                });
            });
        });

    </script>
