@model IEnumerable<WebApplicationAbad.Areas.AdminManageData.Data.Trainer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Trainer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
            <div class="text-start">
                <a class="btn btn-outline-primary" asp-action="GetTrainerCreate">اضافة <i class="fa-solid fa-plus"></i> </a>
            </div>
            <h2 class="card-title">المدرب</h2>
        </div>
        <div class="p-3 col-4">
            <input type="text" id="searchInput" class="form-control" oninput="searchTable()" placeholder="بحث">
        </div>
        <form asp-action="GetIndexTrainer" onsubmit="return AllBool()">
            <table id="myTable" class="table mt-2 table-striped">
                <thead>
                    <tr>
                        <th>
                            الاسم
                        </th>
                        <th>
                            رقم الجوال
                        </th>
                        <th>
                            البريد الالكتروني
                        </th>
                        <th>
                            صورة المدرب
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a style="color: red; font-size: 15px; font-weight: bold;" asp-action="GetTrainerDetails" asp-route-Token="@item.Token">@item.NameAr</a></td>
                            <td class=" d-md-table-cell">@item.Mobile</td>
                            <td class=" d-md-table-cell">@item.EmailPerson</td>
                            <td class=" d-md-table-cell">
                                @if(item.Image == null ||item.Image.Length < 0 ){
                                    <img src="~/Admin/TrainerImage/UserTrainer.png" />
                                }
                                else
                                {
                                    <img src="~/Admin/TrainerImage/@item.Image" width="100px" height="100px" />
                                }
                                </td>
                            <td class="table-action">
                                <a class="btn btn-success" asp-action="GetTrainerCreate" asp-route-Token="@item.Token"><i class="align-middle" data-feather="edit-2"></i></a>
                                <button type="submit" class="btn btn-danger" asp-route-Token="@item.Token"><i class="align-middle" data-feather="trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>

    </div>
</div>