@using WebApplicationAbad.Data;
@model WebApplicationAbad.Areas.AdminCoursesData.Models.Article
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ApplicationDbContext context
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Cretae Article";
    var datas = context.CoursesTypes.Where(b => !b.IsDelete && !b.IsHide && b.Code == Model.CoursesTypeCode);
    SelectList list = new SelectList(datas, "Code", "EnglishName");
    ViewBag.SelectType = list;
}
<div class="row myrow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">المقالات</h2>
            </div>
            <div class="card-body">
                <form asp-action="ArticleCreate" enctype="multipart/form-data">
                    <div class="mb-3" hidden="false">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" placeholder="Arabic Name" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="control-label">عنوان المقالة</label>
                        <input asp-for="Title" name="Title" class="form-control" placeholder="عنوان المقالة" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="control-label">المحتوى</label>



                        <textarea id="alswafiy" asp-for="Contetnt" name="Contetnt" class="form-control" rows="4"></textarea>




                        <span asp-validation-for="Contetnt" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="control-label">اسم الناشر</label>
                            <input asp-for="Author" name="Author" class="form-control" placeholder="اسم الناشر" required />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label class="control-label">وظيفة الناشر</label>
                            <input asp-for="Authorjob" name="Authorjob" class="form-control" placeholder="وظيفة الناشر" required />
                            <span asp-validation-for="Authorjob" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="control-label">صورة الناشر</label>
                            <input type="file" asp-for="FormFilesAuthor" class="form-control" accept="image/png,image/jpeg" onchange="previewImage(this, '#authorImagePreview')" />
                            <span asp-validation-for="IamgeAuthor" class="text-danger"></span>
                            <img id="authorImagePreview"
                                 src="@(!string.IsNullOrEmpty(Model?.IamgeAuthor) ? Url.Content("~/Admin/ImageArticle/" + Model.IamgeAuthor) : "#")"
                                 alt="صورة الناشر"
                                 style="max-width: 40%; margin-top: 10px;" />
                        </div>
                        <div class="mb-3 col-6">
                            <label class="control-label">صورة المقال</label>
                            <input type="file" asp-for="FormFiles" class="form-control"  onchange="previewImage(this, '#articleImagePreview')" />
                            <span asp-validation-for="IamgeArticle" class="text-danger"></span>
                            <img id="articleImagePreview"
                                 src="@(!string.IsNullOrEmpty(Model?.IamgeArticle) ? Url.Content("~/Admin/ImageArticle/" + Model.IamgeArticle) : "#")"
                                 alt="صورة المقال"
                                 style="max-width: 40%; margin-top: 10px;" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="control-label">نوع المقال</label>
                        <select class="form-select" asp-for="CoursesTypeCode" name="CoursesTypeCode" asp-items="ViewBag.FillData"></select>
                        <span asp-validation-for="CoursesTypeCode" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="control-label">مدة القراءة</label>
                        <input asp-for="ReadTime" class="form-control" placeholder="مدة القراءة" required />
                        <span asp-validation-for="ReadTime" class="text-danger"></span>
                    </div>

                    @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                    {
                        <div class="mb-3" hidden="@ViewBag.BoolValue">
                            <label class="form-check m-0">
                                <input class="form-check-input" hidden="@ViewBag.BoolValue" asp-for="IsHide" /> اخفاء
                            </label>
                        </div>
                        <div class="mb-3">
                            <input asp-for="LastUpdateUserCode" type="text" value="111" hidden="false" class="form-control" />
                        </div>
                        <div class="mb-3" hidden="false">
                            <label asp-for="LastUpdateDate" class="control-label"></label>
                            <input asp-for="LastUpdateDate" type="text" value="@DateTime.Now" class="form-control" placeholder="Created Date" />
                            <span asp-validation-for="LastUpdateDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input asp-for="LastUpdateUserCode" hidden="false" class="form-control" />
                        </div>
                    }

                    <button type="submit" value="اضافه" class="btn btn-primary">@ViewBag.coursesStatus</button>
                    <a asp-action="ArticleIndex" class="btn btn-info">الرجوع للخلف</a>
                </form>


            </div>
        </div>
    </div>




    @section Scripts {
    <script src="https://cdn.tiny.cloud/1/kfrv2muqtarthjfdqul6ycx9qbh7pep6swo2yjkjtj7aursl/tinymce/7/tinymce.min.js">
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#alswafiy',
            width: "100%",
            height: 500,
            resize: false,
            autosave_ask_before_unload: false,
            plugins: [
                'advlist', 'anchor', 'autolink', 'codesample', 'fullscreen', 'help',
                'image', 'lists', 'link', 'media', 'preview',
                'searchreplace', 'table', 'visualblocks', 'wordcount'
            ],
            toolbar: 'undo redo | bold italic | forecolor backcolor | codesample | alignleft aligncenter alignright alignjustify | bullist numlist | link image',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px } ul,ol{direction:rtl}'
        });
    </script>
        <script>
            function previewImage(input, previewElementId) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(previewElementId).attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    
    <script>
        const confirmFormAlert = async function (form) {
            const sweetConfirm = await swal("Success!", "operation accomplished successfully", "success");
            if (sweetConfirm) {
                form.submit();
            }
            return sweetConfirm;
        }

    </script>
    }
