@using WebApplicationAbad.Areas.AdminCoursesData.Models;
@model IEnumerable<TypePaid>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Type Paid";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
            <div class="text-start">
                <a class="btn btn-outline-primary" asp-action="GetCoursesPaidCreate">Create New  <i class="fa-solid fa-plus"></i> </a>
            </div>
            <h2 class="card-title">انواع الدفع</h2>
        </div>
        <div class="p-3 col-4">
            <input type="text" id="searchInput" class="form-control" oninput="searchTable()" placeholder="Search.....">
        </div>
        <form asp-action="GetCoursesStutesIndex" id="myTable" onsubmit="return AllBool()">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                           الاسم بالعربي
                        </th>
                        <th>
                           الاسم بالانجليزي
                        </th>
                        <th>
                           الاخفاء
                        </th>
                        <th>
                           القفل
                        </th>
                        <th>العمليات</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.ArabicName)</td>
                            <td>  @Html.DisplayFor(modelItem => item.EnglishName)</td>
                            <td class=" d-md-table-cell">@Html.DisplayFor(modelItem => item.IsHide)</td>
                            <td class=" d-md-table-cell">@Html.DisplayFor(modelItem => item.IsLocked)</td>
                            <td class="table-action">
                                <a class="btn btn-success" asp-action="GetCoursesPaidCreate" asp-route-id="@item.Id"><i class="align-middle" data-feather="edit-2"></i></a>
                                <button type="submit" class="btn btn-danger" asp-route-id="@item.Id"><i class="align-middle" data-feather="trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>

    </div>
</div>
