@using WebApplicationAbad.Areas.AdminCoursesData.Models;
@using WebApplicationAbad.Data;
@inject ApplicationDbContext context;
@model WebApplicationAbad.Areas.AdminCoursesData.Models.CoursesScheduless;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Coursesm Scheduless";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var model1 = context.SessionsRecords.Where(b=>b.CoursesSchedulessId==Model.Id).ToList();
    int count = 0;

}
<style>
    #popup1 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        z-index: 2 !important; 
    }

    .box {
        width: 40%;
        margin: 0 auto;
        background: rgba(255,255,255,0.2);
        padding: 35px;
        border: 2px solid #fff;
        border-radius: 20px/50px;
        background-clip: padding-box;
        text-align: center;
    }

    .button {
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border: 2px solid #4154f1;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

        .button:hover {
            background: #4154f1;
        }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 150ms;
        visibility: hidden;
        opacity: 0;
    }

        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 50%;
        position: relative;
        height:55%
    }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .close {
            position: absolute;
            top: 20px;
            left: 30px;
            transition: all 200ms;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

            .popup .close:hover {
                color: #4154f1;
            }

        .popup .content {
            max-height: 30%;
        }
</style>


<link href="~/Admin/css/StyleSheet.css" rel="stylesheet">

<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>الدوره</th>
                    <th>المدرب</th>
                    <th>التاريخ</th>
                    <th>التوقيت</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.CoursesData.HeaderAr</td>
                    <td>@Model.Trainer.NameAr</td>
                    <td>
                        <span class="tab-title1 badge bg-success">@Model.StartDate?.ToString("dd-MM-yyyy")</span><br>
                        <span class="tab-title1 badge bg-danger">@Model.EndDate?.ToString("dd-MM-yyyy")</span>
                    </td>
                    <td>
                        <span class="tab-title1 badge bg-success">@Model.StartTime</span><br>
                        <span class="tab-title1 badge bg-danger">@Model.EndTime</span>
                    </td>
                </tr>
            </tbody>



        </table>

        <div class="text-center marg">
            <h4>المحاضرات المسجلة للدورة</h4>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>م</th> 
                    <th>اسم الدورة </th>
                    <th>الاسبوع</th>
                    <th>اليوم</th>
                    <th>الرابط </th>
                    <th>العمليات </th>
            </thead>
            <tbody>

                @foreach (var item in model1)
                {
                    <tr>
                        <td>
                            @{
                                count++;
                            }
                            @count
                    </td>
                    <td>  @item.CoursesScheduless.StartDate @item.CoursesScheduless.CoursesData.HeaderAr</td>
                    <td>  @item.sessionsDay.SessionsWeek.Name</td>
                    <td>  @item.sessionsDay.NameOfDay</td>
                        <td>
                            @{
                                var truncatedTitle = item.Title.Length > 30 ? item.Title.Substring(0, 30) : item.Title;
                            }

                           <a href="@item.Title">@truncatedTitle </a>
                        </td>

                        <td class="table-action">
                            <a class="btn btn-success" asp-action="Index" asp-route-id="@item.Id"><i class="align-middle" data-feather="edit-2"></i></a>
                            <a class="btn btn-danger delete-btn" data-id="@item.Id"><i class="align-middle" data-feather="trash"></i></a>
                        </td>
                    </tr>
                   
                }
            </tbody>
        </table>

        <div class="mt-4 text-center">
            <a id="notfi" class="btn btn-primary">اضافة محاضرة الى الدورة</a>
        </div>

        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>اضافة تسجيل</h2>
                <hr/>
                <form>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label class="control-label">الاسبوع</label>
                            <select class="form-select" id="WeekIdSelect" asp-items="@ViewBag.Weeks" required>
                                <option value="">اختر الاسبوع</option>
                            </select>
                        </div>


                        <div class="mb-3 col-12">
                            <label class="control-label">اليوم</label>
                            <select class="form-select" id="DayId" asp-items="@(ViewBag.Days ?? new SelectList(new List<SelectListItem>()))" required>
                                <option value="">اختر اليوم</option>
                            </select>
                        </div>
                        <div class="mb-3 col-12 ">
                            <label class="control-label">الرابط</label>
                            <input id="titleSition" class="form-control" placeholder="URl Metting" />
                            <span id="ErrortitleSition class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <label class="control-label" for="isReplce">تسجيل الدورة</label>
                            <input type="checkbox" id="isReplce" />
                        </div>

                    </div>
                    <div class="mt-4" style="margin-bottom:20px">
                    <a id="submitedForm" class="btn btn-primary">اضـــافة التسجيل</a>
                    <a class="close">X</a>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $('.delete-btn').click(function (event) {
        event.preventDefault();
        var id = $(this).data('id');

        Swal.fire({
            title: 'هل أنت متأكد؟',
            text: "لن تتمكن من التراجع عن هذا!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'نعم، احذفها!',
            cancelButtonText: 'تراجع',

        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/AdminCoursesData/Session/DeleteRow',
                    type: 'GET',
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire(
                                'تم الحذف!',
                                'تم حذف العنصر بنجاح.',
                                'success'
                            );
                            $('a[data-id="' + id + '"]').closest('tr').remove();
                        } else {
                            Swal.fire(
                                'خطأ!',
                                'حدث خطأ أثناء الحذف.',
                                'error'
                            );
                        }
                    }
                });
            }
        });

      


    });

    $(document).ready(function () {

        $('#notfi').click(function () {
            $('#popup1').css({
                'opacity': '1',
                'visibility': 'visible'

            });
        });

        $('.close').click(function (event) {
            $('#popup1').css({
                'opacity': '0',
                'visibility': 'hidden'
            });
        });

    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#WeekIdSelect').change(function () {
            var selectedValue = $(this).val();
            $.ajax({
                url: '/AdminCoursesData/Session/GetFilteredCoursesData',
                type: 'GET',
                data: { weekId: selectedValue },
                success: function (data) {
                    var coursesDataSelect = $('#DayId');

                    coursesDataSelect.empty();
                    coursesDataSelect.append($('<option>', {
                        value: '',
                        text: 'Please Select Day '
                    }));

                    $.each(data, function (index, item) {
                        coursesDataSelect.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                }
            });
        });

        
    });
</script>

<script>
    $(document).ready(function () {
        

        $(document).ready(function () {
            $('#submitedForm').click(function () {
                var seccId = '@Model.Id';
                var DayId = $('#DayId').val();
                var WeekIdSelect = $('#WeekIdSelect').val();
                var titleSition = encodeURIComponent($('#titleSition').val()); // ترميز العنوان
                var isReplce = $('#isReplce').is(':checked');

                $.ajax({
                    url: '/AdminCoursesData/Session/GetSessionCreate',
                    type: 'GET',
                    data: {
                        seccId: seccId,
                        DayId: DayId,
                        WeekIdSelect: WeekIdSelect,
                        titleSition: titleSition,
                        isReplce: isReplce
                    },
                    success: function () {
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error("Error occurred: " + status + " - " + error);
                    }
                });
            });
        });

    });

</script>
