 @using WebApplicationAbad.Areas.AdminCoursesData.Models;
@model IEnumerable<CoursesType>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Courses Type";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p>@ViewBag.ex</p>
<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
            <div class="text-start">
                <a class="btn btn-outline-primary" asp-action="GetCoursesTypeCreate">Create New  <i class="fa-solid fa-plus"></i> </a>
            </div>
            <h2 class="card-title">انواع الدورات</h2>
        </div>
       <div class="p-3 col-4">
        <input type="text" id="searchInput" class="form-control"  oninput="searchTable()" placeholder="بحث">
        </div>
        <form asp-action="GetCoursesStutesIndex" onsubmit="return AllBool()">
            <table id="myTable" class="table mt-2 table-striped">
                <thead>
                    <tr>
                        <th>
                           الاسم بالعربي
                        </th>
                        <th>
                           الاسم بالانجليزي
                        </th>
                        <th>
                            الصوره
                        </th>
                        <th>
                            الاخفاء
                        </th>
                        <th>العمليات</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.ArabicName)</td>
                            <td>  @Html.DisplayFor(modelItem => item.EnglishName)</td>
                            <td><img width="100px" height="100px" src="~/Admin/CoursesTypeImage/@item.Image" /></td>
                            <td class=" d-md-table-cell">@Html.DisplayFor(modelItem => item.IsHide)</td>
                            <td class="table-action">
                                <a class="btn btn-success" asp-action="GetCoursesTypeCreate" asp-route-id="@item.Code"><i class="align-middle" data-feather="edit-2"></i></a>
                                <button type="submit" class="btn btn-danger" asp-route-id="@item.Code"><i class="align-middle" data-feather="trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>

    </div>
</div>
