@using System.Globalization;
@model WebApplicationAbad.Areas.AdminCoursesData.Models.CoursesScheduless
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Courses Scheduless Cretae";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="row myrow">
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">فتح دوره جديده</h2>
        </div>
        <div class="card-body">
            <form asp-action="GetCoursesSchedulessCreate" onsubmit="confirmFormAlert(this); return false" enctype="multipart/form-data">
                <div class="row">

                    <div class="mb-3 col-12 col-md-6" hidden="false">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" placeholder="Arabic Name" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-12 col-md-6">
                        <label  class="control-label"> تاريخ البدابه</label>
                            @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                            {
                                string formattedStatrDate = Model.StartDate?.ToString("yyyy-MM-dd");
                                    <input type="date" asp-for="StartDate" value="@formattedStatrDate" class="form-control" placeholder="تاريخ البدايه" required />
                            }
                            else
                            {
                                    <input type="date" asp-for="StartDate"  class="form-control" placeholder="Start Date" required >
                            }
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label class="control-label">تاريخ النهايه</label>
                            @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                            {
                                string formattedEndDate = Model.EndDate?.ToString("yyyy-MM-dd");
                                    <input type="date" asp-for="EndDate" value="@formattedEndDate" class="form-control" placeholder="تاريخ النهايه" required />
                            }
                            else
                            {
                                    <input type="date" asp-for="EndDate" class="form-control" placeholder="Start Date" required>
                            }
                        </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label  class="control-label">وقت البدء</label>
                        <input type="time" asp-for="StartTime" class="form-control" placeholder="وقت البدء" required />
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label  class="control-label"> وقت الانتهاء</label>
                        <input type="time" asp-for="EndTime" class="form-control" placeholder="وقت الانتهاء" required />
                    </div>
                    <div class="mb-3 col-12 ">
                        <label  hidden="false" class="control-label">  تاريخ انتهاء الدوره</label>
                            @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                            {
                                string formattedCloseDate = Model.CloseDay?.ToString("yyyy-MM-dd");
                                    <input type="date" asp-for="CloseDay" hidden="false" value="@formattedCloseDate" class="form-control" placeholder="تاريخ الانتهاء"  />
                            }
                            else
                            {
                                    <input type="date" asp-for="CloseDay" hidden="false" class="form-control" placeholder="Close Date" >
                            }
                    </div>
                        <div class="mb-3 col-12">
                            <label asp-for="detailsTime" class="control-label">  تفاصيل الوقت والتاريخ</label>
                            <input asp-for="detailsTime" class="form-control" placeholder="مثال: من الاحد الي الاربعاء من كل اسبوع" />
                        </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label  class="control-label"> عدد الساعات</label>
                        <input asp-for="NumberOfHourse" class="form-control" placeholder="عدد الساعات" required />
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label  class="control-label"> عدد الاسابيع</label>
                        <input asp-for="NumberOfWeek" class="form-control" placeholder="عدد الاسابيع" required />
                    </div>

                        <div class="mb-3 col-12">
                            <label asp-for="LinkWhatsApp" class="control-label"> رابط جروب الواتساب</label>
                            <input asp-for="LinkWhatsApp" class="form-control" placeholder="رابط جروب الواتساب" />
                        </div>

                     <div class="mb-3 col-12">
                        <label class="control-label">اقسام الدورات</label>
                            <select class="form-select" asp-for="CoursesTypeCode" id="courseTypeSelect" asp-items="@ViewBag.FilDataCoursesType" required>
                                <option value="">اختر قسم الدوره</option> 
                                </select>
                      </div>
                      <div class="mb-3 col-12 col-md-6">
                        <label class="control-label">اسم الدوره</label>
                            <select class="form-select" class="CoursesDataId" asp-for="CoursesDataId" asp-items="@ViewBag.FilDataCourseData" required>
                                <option value="">اختر اسم الدوره</option>
                        </select>
                    </div>

                    <div class="mb-3 col-12 col-md-6">
                            <label class="control-label"> السعر</label>
                            @if (ViewBag.Cost != null && ViewBag.Cost)
                            {
                                    <input asp-for="Cost" id="Cost" disabled class="form-control" placeholder="السعر" required />
                            }
                            else
                            {
                                    <input asp-for="Cost" id="Cost" class="form-control" placeholder="السعر" required />
                            }
                        </div>



                     <div class="mb-3 col-12 col-md-6">
                        <label class="control-label">نوع الدوره حضوري ام اونلاين</label>
                        <select class="form-select" asp-for="CoursesIsonlineId" asp-items="@ViewBag.FilDataOnline" required>
                                <option value="">اختر نوع الدوره</option>
                        </select> 
                    </div>

                    <div class="mb-3 col-12 col-md-6">
                        <label class="control-label">اسم المدرب</label>
                        <select class="form-select" asp-for="TrainerId" asp-items="@ViewBag.FilDataTrinaer" required>
                            <option value="">اختر اسم المدرب</option>
                            </select>
                    </div>
                    <div class="mb-3 col-12 col-md-6" Hidden="false">
                        <label class="control-label">الفرع</label>
                            <select class="form-select" asp-for="BranchId" asp-items="@ViewBag.FilDataBranches" >
                            </select>
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label class="control-label">حاله الدوره</label>
                            <select class="form-select" asp-for="CoursesStatusId" asp-items="@ViewBag.FilDataStatus" required>
                            <option value="1" selected>اختر حاله الدوره</option>
                            </select>
                            </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="control-label">رقم الغرفه</label>
                            <select class="form-select" asp-for="RoomId" asp-items="@ViewBag.FilDataRoomNumber" required>
                                <option value="1" selected>اختر الغرفه</option>
                            </select>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="control-label">ايام الدوره</label>
                            <select class="form-select" asp-for="TimeCoures" required>
                                <option value="">اختر ايام الدوره</option>
                                <option value="WeekEnd">ايام الجمعه والسبت</option>
                                <option value="No WeekEnd">ايام الاسبوع</option>
                            </select>
                        </div>

                            <div class="mb-3 col-md-4">
                                <label class="form-check m-0">
                                    <input class="form-check-input" asp-for="IsHadaf" /> هل مدعومه من هدف؟
                                </label>
                            </div>

                        <div class="mb-3 col-md-4">
                                <label class="form-check m-0">
                                <input class="form-check-input" asp-for="IsRamdan" /> هل في رمضان؟
                                </label>
                            </div>

                        <div class="mb-3 col-md-4">
                            <label class="form-check m-0">
                                <input class="form-check-input" asp-for="IsFares" /> هل مدعومه من فارس؟
                            </label>
                        </div>

                        <div class="mb-3">
                            <input asp-for="UserCode" type="text" value="111" hidden="false" class="form-control" />
                        </div>
                           
                       
                        @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                        {
                            <div class="mb-3 col-md-4" hidden="@ViewBag.BoolValue">
                                    <label class="form-check m-0">
                                        <input class="form-check-input" hidden="@ViewBag.BoolValue" asp-for="IsHide" /> اخفاء الدوره؟
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <input asp-for="LastUpdateUserCode" type="text" value="111" hidden="false" class="form-control" />
                                </div>
                                <div class="mb-3" hidden="false">
                                    <label asp-for="LastUpdateDate" class="control-label"></label>
                                    <input asp-for="LastUpdateDate" type="text" value="@DateTime.Now" class="form-control" placeholder="Created Date" />
                                    <span asp-validation-for="LastUpdateDate" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <input asp-for="LastUpdateUserCode" hidden="false" class="form-control" />
                                </div>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary">@ViewBag.coursesStatus</button>
                    <a asp-action="GetCoursesSchedulessIndex" class="btn btn-info">الرجوع للخلف</a>
                </form>
            </div>
         </div>
     </div>
</div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var selectElement = document.querySelector("#CoursesDataId");
            var costInput = document.querySelector("#Cost");

            selectElement.addEventListener("change", function () {
                var selectedValue = selectElement.value;

                $.ajax({
                    url: '/AdminCoursesData/CoursesScheduless/GetCost',
                    data: { coursesDataId: selectedValue },
                    method: 'GET',
                    success: function (data) {
                        costInput.value = data;
                    },
                    error: function () {
                        console.log("Error retrieving data");
                    }
                });
            });
        });
    </script>



<script>

    document.addEventListener("DOMContentLoaded", function () {
    $('#courseTypeSelect').change(function () {
        var selectedValue = $(this).val();
        $.ajax({
            url: '/AdminCoursesData/CoursesScheduless/GetFilteredCoursesData', 
            type: 'GET',
            data: { courseTypeCode: selectedValue },
            success: function (data) {
                var coursesDataSelect = $('#CoursesDataId');

                coursesDataSelect.empty();
                coursesDataSelect.append($('<option>', {
                    value: '',
                    text: 'Please Select Course Data'
                }));

                $.each(data, function (index, item) {
                    coursesDataSelect.append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            }
        });
    });
});
</script>
