@using System.Globalization;
@using WebApplicationAbad.Data;
@model WebApplicationAbad.Areas.AdminCoursesData.Models.SessionsRecord;
@inject ApplicationDbContext context
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var Online = context.CoursesSchedulesses.Where(b => !b.IsHide && !b.IsDelete && b.CoursesIsonlineId == 2);

    var onlineList = Online.Select(b => new
    {
        Id = b.Id,
        DisplayText = $"{b.StartDate:yyyy-MM-dd} - {b.CoursesData.HeaderAr}"
    }).ToList();
    SelectList select = new SelectList(onlineList, "Id", "DisplayText");
}

<div class="row myrow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title"> Zoom جميع المحاضرات</h2>
            </div>
            <div class="card-body">
                <form id="submitForm" method="post" action="/AdminCoursesData/Zoom/SessionCreate">

                    <div class="row">
                        <div class="mb-3 col-12" hidden="true">
                            <label asp-for="Id" class="control-label"></label>
                            <input asp-for="Id" class="form-control" placeholder="" />
                        </div>

                        <div class="mb-3 col-12">
                            <label class="control-label">الكورس</label>
                            <select asp-items="@select" class="form-select" name="CoursesSchedulessId" required>
                              <option value="" selected>اختر الدوره</option>
                                @*  @foreach (var item in ViewBag.FilDataCourses)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }*@
                            </select>
                        </div>

                        <div class="mb-3 col-12">
                            <label class="control-label">المدرب</label>
                            <select class="form-select" name="UserEmail" required>
                                <option value="">اختر المدرب</option>
                                @foreach (var user in ViewBag.users)
                                {
                                    <option value="@user.Value">@user.Text</option>
                                }
                            </select>
                        </div>

                        <div class="mb-3 col-12">
                            <input type="text" class="form-control" id="datepicker" name="listofData" placeholder="اختر التاريخ" autocomplete="off" />
                        </div>

                   

                    </div>
                    <button id="submitBtn" type="submit" class="btn btn-primary">@ViewBag.coursesStatus</button>
                    <a asp-action="GetListOfSession" class="btn btn-info">الرجوع للخلف</a>
                </form>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#datepicker", {
        mode: "multiple", // تمكين وضع تحديد متعدد الأيام
        dateFormat: "Y-m-d", // تنسيق التواريخ المحددة
        // يمكنك إضافة المزيد من الخيارات حسب احتياجاتك
    });
</script>

<script>
   
        $('#submitBtn').click(function (e) {
            e.preventDefault(); // منع سلوك النموذج الافتراضي

            // التقاط القيم المحددة من Flatpickr
            var selectedDates = $('#datepicker').val();

            // تحويل القيم المحددة إلى مصفوفة (إذا كانت فارغة، قم بتعيينها كمصفوفة فارغة)
            var datesArray = selectedDates ? selectedDates.split(',') : [];

            // جمع البيانات التي يجب إرسالها
            var formData = {
                CoursesSchedulessId: $('select[name="CoursesSchedulessId"]').val(),
                UserEmail: $('select[name="UserEmail"]').val(),
                listofData: JSON.stringify(datesArray)
            };

            // إرسال البيانات بواسطة Ajax
            $.ajax({
                type: 'POST',
                url: '/AdminCoursesData/Zoom/SessionCreate',
                data: formData,
                success: function (response) {
                    // يمكنك إدراج رمز الاستجابة هنا
                },
                error: function (xhr, status, error) {
                    // يمكنك معالجة الأخطاء هنا
                }
            });
        });
    });
</script>

