@model IEnumerable<WebApplicationAbad.Areas.AdminCoursesData.Models.RequiredCourse>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Courses Request";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
            <div class="text-start">
            </div>
            <h2 class="card-title">الطلبات المرسلة</h2>
        </div>
        <div class="p-3 col-4">
            <input type="text" id="searchInput" class="form-control" oninput="searchTable()" placeholder="بحث">
        </div>
        <form asp-action="GetCoursesStutesIndex" id="myTable" onsubmit="return AllBool()">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            رقم الطالب
                        </th>
                        <th>
                            اسم المستخدم
                        </th>
                        <th>
                           البريد الالكتروني
                        </th>
                        <th>الدورة المطوبة</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Id)</td>
                            <td>  @Html.DisplayFor(modelItem => item.UsserName)</td>
                            <td class=" d-md-table-cell">   @Html.DisplayFor(modelItem => item.UsserEmail)</td>
                            <td class=" d-md-table-cell">   @Html.DisplayFor(modelItem => item.CoursesData.HeaderAr)</td>

                            <td class="table-action">
                                <a class="btn btn-success" style="color:white" asp-action="GetRequiredCourseDetils" asp-route-id="@item.Id">عرض التفاصيل</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>

    </div>
</div>