@model WebApplicationAbad.Areas.AdminCoursesData.Models.CoursesScheduless
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ApplicationDbContext context;
@using System.Globalization;
@using WebApplicationAbad.Data;

@{
    ViewData["Title"] = "GetDetailsCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool check;
    var CoursenOline = ViewBag.CoursenOline as List<WebApplicationAbad.Areas.AdminCoursesData.Models.CoursesScheduless>;
    var CourseMantadory = ViewBag.CourseMantadory as List<WebApplicationAbad.Areas.AdminCoursesData.Models.CoursesScheduless>;
    int countViews = context.ViewsNows.Where(b => b.IsOpen).Count();
    int ExistNumber = 0;
    int StdunetID =Convert.ToInt32(ViewBag.StudentId);
    int IscourseSec = context.CoursesReserveds.Where(b => b.StudentId == StdunetID && b.CoursesSchedulessId == Model.Id).Count();
    if (StdunetID != null)
    {
        var IsExist = context.ViewStudnts.FirstOrDefault(b => b.CoursesSchedulessId == Model.Id && b.StudentId == StdunetID);
        if(IsExist != null)
        {
            ExistNumber = 1;
        }
        else
        {
            ExistNumber = 0;
        }
    }

    var contexts = context.CoursesReserveds.FirstOrDefault(b => b.CoursesSchedulessId == Model.Id && b.StudentId == StdunetID);

    bool IsEx = false;

    if (contexts != null)
    {
        IsEx = true;
    }

}

@{
    var maxLength = 200;
    var truncatedText = Model.CoursesData.DetailsAr.Length > maxLength
        ? Model.CoursesData.DetailsAr.Substring(0, maxLength) + "..."
        : Model.CoursesData.DetailsAr;
}
<div class="heading-courses">
    <h2>@Model.CoursesData.HeaderAr</h2>
    <p>@truncatedText</p>
</div>

    </header>

<!-- title -->
<div class="title-page">
    <div >
        <p style="color:black">
        الصفحة الرئيسية > الدورات >
        <span style="color:black">التدريب على @Model.CoursesData.HeaderAr </span>
        </p>
    </div>
</div>

<!-- all courses -->
<div class="all-courses">
    <div class="list-course">
        <div class="video-course">
       @*      <video controls style="width: 100%;">
                <source src="../assets/video/ved.mp4" type="video/mp4">
            </video> *@
            <img src="~/admin/coursesdataimage/@Model.CoursesData.Image" style="width: 100%;" />
        </div>


        <div class="price-course">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M26.6814 19.4022L19.2894 26.7925C18.9386 27.1408 18.4643 27.3363 17.9699 27.3363C17.4755 27.3363 17.0011 27.1408 16.6503 26.7925L6.07343 16.2156C5.28438 15.3361 4.82538 14.2097 4.7749 13.0291L4.84732 6.82954C4.85642 6.33152 5.05854 5.8565 5.41106 5.5046C5.76359 5.1527 6.23898 4.95144 6.73701 4.94322L12.9181 4.88428C14.0987 4.93748 15.2245 5.39746 16.1046 6.18617L26.6814 16.763C27.0298 17.1138 27.2253 17.5882 27.2253 18.0826C27.2253 18.577 27.0298 19.0513 26.6814 19.4022ZM9.81238 8.64512C9.81238 8.3813 9.73414 8.1234 9.58757 7.90405C9.441 7.68469 9.23268 7.51372 8.98894 7.41276C8.7452 7.3118 8.477 7.28539 8.21825 7.33685C7.9595 7.38832 7.72182 7.51536 7.53528 7.70191C7.34873 7.88846 7.22169 8.12614 7.17022 8.38489C7.11875 8.64364 7.14516 8.91184 7.24612 9.15558C7.34708 9.39932 7.51805 9.60764 7.73741 9.75421C7.95677 9.90078 8.21466 9.97901 8.47848 9.97901C8.83225 9.97901 9.17153 9.83848 9.42169 9.58833C9.67184 9.33817 9.81238 8.99889 9.81238 8.64512ZM20.9181 21.0207C21.0048 20.934 21.0737 20.8311 21.1206 20.7178C21.1676 20.6046 21.1918 20.4831 21.1918 20.3605C21.1918 20.2379 21.1676 20.1164 21.1206 20.0031C21.0737 19.8898 21.0048 19.7869 20.9181 19.7003L20.2427 19.0249C20.5212 18.598 20.7209 18.1245 20.8322 17.627C20.9509 17.1834 20.9517 16.7164 20.8344 16.2724C20.7171 15.8284 20.4858 15.4228 20.1635 15.0956C19.705 14.6389 19.0965 14.3637 18.4507 14.3209C18.0245 14.2934 17.5968 14.3419 17.1875 14.4641H17.1842C16.8336 14.5745 16.4994 14.7314 16.1905 14.9306H16.1854C15.919 15.1044 15.6717 15.306 15.4477 15.5319C15.3129 15.6673 15.167 15.7912 15.0115 15.9024C14.8416 16.024 14.6549 16.1204 14.4574 16.1887H14.4541C14.2707 16.2489 14.0769 16.2706 13.8848 16.2527H13.8814C13.6847 16.2369 13.4987 16.1564 13.3526 16.0236C13.2457 15.9031 13.1728 15.7562 13.1414 15.5982C13.1101 15.4401 13.1213 15.2765 13.1741 15.1243C13.292 14.6706 13.5306 14.2574 13.8646 13.9285C13.9854 13.8248 14.115 13.7318 14.252 13.6506L14.3025 13.6186C14.4741 13.5136 14.6557 13.4262 14.8448 13.3575C15.0199 13.2919 15.2052 13.2577 15.3922 13.2565C15.6396 13.2565 15.877 13.1582 16.0519 12.9832C16.2269 12.8082 16.3252 12.5709 16.3252 12.3234C16.3252 12.076 16.2269 11.8386 16.0519 11.6637C15.877 11.4887 15.6396 11.3904 15.3922 11.3904C14.9796 11.392 14.569 11.4673 14.1829 11.6127C13.8716 11.7274 13.573 11.8742 13.292 12.0506L13.2751 12.0607L12.6048 11.387C12.518 11.3003 12.4149 11.2316 12.3016 11.1847C12.1882 11.1378 12.0667 11.1137 11.944 11.1138C11.8213 11.1139 11.6998 11.1381 11.5865 11.1851C11.4732 11.2322 11.3702 11.301 11.2835 11.3879C11.1968 11.4747 11.1281 11.5777 11.0812 11.6911C11.0343 11.8045 11.0102 11.926 11.0103 12.0487C11.0104 12.1714 11.0346 12.2928 11.0817 12.4061C11.1287 12.5195 11.1976 12.6224 11.2844 12.7091L11.9378 13.3609C11.6655 13.7741 11.4677 14.2318 11.3534 14.7133C11.2315 15.1731 11.23 15.6565 11.3492 16.117C11.4684 16.5775 11.7042 16.9995 12.0338 17.3424C12.4813 17.7806 13.0658 18.0517 13.6894 18.1104C14.1469 18.1573 14.6091 18.1062 15.0452 17.9605C15.4202 17.8344 15.7744 17.6534 16.0962 17.4232C16.3351 17.2519 16.5593 17.0609 16.7665 16.8523C16.8975 16.7207 17.042 16.6033 17.1976 16.502C17.3656 16.3944 17.5468 16.309 17.7366 16.2476C17.9268 16.1928 18.1251 16.1711 18.3227 16.1836C18.5181 16.197 18.7022 16.2801 18.8414 16.4178C18.9256 16.5003 19.1193 16.6956 19.0048 17.2396C18.8894 17.7047 18.6488 18.1294 18.3092 18.4674C18.1611 18.6015 18.0035 18.7248 17.8376 18.8363C17.6751 18.9413 17.5024 19.0299 17.3223 19.1007C17.1508 19.1667 16.966 19.191 16.7833 19.1714C16.661 19.1626 16.5382 19.1779 16.4218 19.2165C16.3054 19.2552 16.1978 19.3164 16.105 19.3966C16.0123 19.4768 15.9362 19.5745 15.8813 19.6841C15.8263 19.7938 15.7934 19.9131 15.7846 20.0354C15.7757 20.1577 15.7911 20.2806 15.8297 20.397C15.8683 20.5134 15.9295 20.621 16.0097 20.7137C16.09 20.8065 16.1877 20.8825 16.2973 20.9375C16.4069 20.9925 16.5263 21.0253 16.6486 21.0342C16.7362 21.0409 16.8221 21.0426 16.9046 21.0426C17.3005 21.0469 17.6931 20.9701 18.0583 20.8169C18.3584 20.6964 18.6447 20.5439 18.9122 20.3622L18.929 20.3504L19.5976 21.0207C19.7728 21.195 20.0099 21.2929 20.257 21.2929C20.5041 21.2929 20.7412 21.195 20.9164 21.0207H20.9181Z"
                          fill="#F2B829" />
                </svg>

                <span>السعر</span>
            </div>


            <div class="price">
                @Model.Cost
                ر.س

            </div>
        </div>


        <div class="content-details">
            <ul>


                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M22.8891 1.8583V3.52173C22.8891 3.90933 22.5749 4.22353 22.1873 4.22353H1.81314C1.42554 4.22353 1.11133 3.90933 1.11133 3.52173V1.8583C1.11133 1.4707 1.42554 1.15649 1.81314 1.15649H22.1873C22.5749 1.1565 22.8891 1.47071 22.8891 1.8583Z"
                              fill="#F2B829" />
                        <path d="M22.8891 17.068V18.7285C22.8891 19.1187 22.576 19.4318 22.1858 19.4318H12.3223V20.4209C12.8486 20.5615 13.2343 21.0424 13.2343 21.6096C13.2343 22.2901 12.6808 22.8436 12.0002 22.8436C11.3197 22.8436 10.7661 22.2901 10.7661 21.6096C10.7661 21.0515 11.1336 20.5842 11.6418 20.4299V19.4318H1.81456C1.42439 19.4318 1.11133 19.1187 1.11133 18.7285V17.068C1.11133 16.6778 1.42439 16.3647 1.81456 16.3647H22.1858C22.576 16.3648 22.8891 16.6778 22.8891 17.068Z"
                              fill="#F2B829" />
                        <path d="M2.25488 4.90405V15.6841H21.746V4.90405H2.25488ZM12.0005 14.2866C9.79543 14.2866 8.00784 12.499 8.00784 10.2941C8.00784 8.08904 9.79543 6.30144 12.0005 6.30144C14.2054 6.30144 15.993 8.08903 15.993 10.2941C15.993 12.499 14.2054 14.2866 12.0005 14.2866Z"
                              fill="#F2B829" />
                        <path d="M13.456 10.757L11.8036 11.9607C11.4289 12.2337 10.9028 11.9661 10.9028 11.5025V9.09505C10.9028 8.63149 11.4289 8.36386 11.8036 8.63681L13.456 9.84054C13.7668 10.067 13.7668 10.5306 13.456 10.757Z"
                              fill="#F2B829" />
                    </svg>
                    <span>
                        @Model.NumberOfHourse
                        الساعات
                    </span>

                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M18.9174 4.89673V2.07275H17.6481V2.83826C17.6481 3.55807 17.0609 4.14538 16.341 4.14538C15.6212 4.14538 15.0339 3.55812 15.0339 2.83826V2.07275H13.0599V2.83826C13.0599 3.55807 12.4727 4.14538 11.7528 4.14538C11.033 4.14538 10.4457 3.55812 10.4457 2.83826V2.07275H8.47173V2.83826C8.47173 3.55807 7.88447 4.14538 7.16464 4.14538C6.44478 4.14538 5.85749 3.55812 5.85749 2.83826V2.07275H3.88353V2.83826C3.88353 3.55807 3.29626 4.14538 2.57643 4.14538C1.85657 4.14538 1.26928 3.55812 1.26928 2.83826V2.07275H0V4.89673H18.9174Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M18.9174 11.5306V5.36548H0V17.4139H13.2709C12.7047 16.7093 12.3657 15.8144 12.3657 14.8403C12.3657 12.5695 14.2068 10.7284 16.4775 10.7284C17.391 10.7284 18.2349 11.0266 18.9174 11.5306ZM2.21651 6.72716H3.61591C3.81016 6.72716 3.96904 6.88606 3.96904 7.08029V8.47971C3.96904 8.67394 3.81016 8.83283 3.61591 8.83283H2.21651C2.02228 8.83283 1.86338 8.67394 1.86338 8.47971V7.08029C1.86338 6.88606 2.02228 6.72716 2.21651 6.72716ZM6.5782 6.72716H7.97762C8.17185 6.72716 8.33075 6.88606 8.33075 7.08029V8.47971C8.33075 8.67394 8.17185 8.83283 7.97762 8.83283H6.5782C6.38397 8.83283 6.22508 8.67394 6.22508 8.47971V7.08029C6.22508 6.88606 6.38397 6.72716 6.5782 6.72716ZM10.9399 6.72716H12.3393C12.5336 6.72716 12.6924 6.88606 12.6924 7.08029V8.47971C12.6924 8.67394 12.5336 8.83283 12.3393 8.83283H10.9399C10.7457 8.83283 10.5868 8.67394 10.5868 8.47971V7.08029C10.5868 6.88606 10.7457 6.72716 10.9399 6.72716ZM15.3016 6.72716H16.701C16.8953 6.72716 17.0541 6.88606 17.0541 7.08029V8.47971C17.0541 8.67394 16.8953 8.83283 16.701 8.83283H15.3016C15.1074 8.83283 14.9485 8.67394 14.9485 8.47971V7.08029C14.9485 6.88606 15.1074 6.72716 15.3016 6.72716ZM2.21651 10.3368H3.61591C3.81016 10.3368 3.96904 10.4957 3.96904 10.69V12.0894C3.96904 12.2836 3.81016 12.4425 3.61591 12.4425H2.21651C2.02228 12.4425 1.86338 12.2836 1.86338 12.0894V10.69C1.86338 10.4957 2.02228 10.3368 2.21651 10.3368ZM6.5782 10.3368H7.97762C8.17185 10.3368 8.33075 10.4957 8.33075 10.69V12.0894C8.33075 12.2836 8.17185 12.4425 7.97762 12.4425H6.5782C6.38397 12.4425 6.22508 12.2836 6.22508 12.0894V10.69C6.22508 10.4957 6.38397 10.3368 6.5782 10.3368ZM10.9399 10.3368H12.3393C12.5336 10.3368 12.6924 10.4957 12.6924 10.69V12.0894C12.6924 12.2836 12.5336 12.4425 12.3393 12.4425H10.9399C10.7457 12.4425 10.5868 12.2836 10.5868 12.0894V10.69C10.5868 10.4957 10.7457 10.3368 10.9399 10.3368ZM2.21651 13.9465H3.61591C3.81016 13.9465 3.96904 14.1054 3.96904 14.2997V15.6991C3.96904 15.8933 3.81016 16.0522 3.61591 16.0522H2.21651C2.02228 16.0522 1.86338 15.8933 1.86338 15.6991V14.2997C1.86338 14.1054 2.02228 13.9465 2.21651 13.9465ZM6.5782 13.9465H7.97762C8.17185 13.9465 8.33075 14.1054 8.33075 14.2997V15.6991C8.33075 15.8933 8.17185 16.0522 7.97762 16.0522H6.5782C6.38397 16.0522 6.22508 15.8933 6.22508 15.6991V14.2997C6.22508 14.1054 6.38397 13.9465 6.5782 13.9465Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.73779 0H3.41456V2.83817C3.41456 3.2993 3.0373 3.67655 2.5762 3.67655C2.11506 3.67655 1.73779 3.29931 1.73779 2.83817V0Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M6.32617 0H8.00293V2.83817C8.00293 3.2993 7.62568 3.67655 7.16458 3.67655C6.70344 3.67655 6.32617 3.29931 6.32617 2.83817V0Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10.9141 0H12.5908V2.83817C12.5908 3.2993 12.2136 3.67655 11.7525 3.67655C11.2913 3.67655 10.9141 3.29931 10.9141 2.83817V0Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M15.5024 0H17.1792V2.83817C17.1792 3.2993 16.802 3.67655 16.3408 3.67655C15.8797 3.67655 15.5024 3.29931 15.5024 2.83817V0Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.4776 14.155C16.856 14.155 17.1627 14.4618 17.1627 14.8401C17.1627 15.2185 16.856 15.5253 16.4776 15.5253C16.0992 15.5253 15.7925 15.2185 15.7925 14.8401C15.7925 14.4618 16.0992 14.155 16.4776 14.155Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.7705 11.6074V12.4087C16.7705 12.5704 16.6393 12.7016 16.4775 12.7016C16.3158 12.7016 16.1846 12.5704 16.1846 12.4087V11.6074H16.7705Z"
                              fill="#F2B829" />
                        <path d="M16.2388 14.2722H16.7075V13.1438C16.7075 13.0144 16.6026 12.9094 16.4732 12.9094C16.3437 12.9094 16.2388 13.0144 16.2388 13.1438V14.2722Z"
                              fill="#F2B829" />
                        <path d="M16.6807 14.3054L17.0121 14.6369L17.5949 14.0541C17.6864 13.9626 17.6864 13.8142 17.5949 13.7227C17.5033 13.6312 17.3549 13.6312 17.2634 13.7227L16.6807 14.3054Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M18.9797 15.55L20.0367 17.3808L21.0936 19.2116H18.9797H16.8657L17.9227 17.3808L18.9797 15.55ZM19.2141 16.9547C19.2141 16.8253 19.1091 16.7203 18.9797 16.7203C18.8502 16.7203 18.7453 16.8253 18.7453 16.9547V17.8408C18.7453 17.9703 18.8502 18.0752 18.9797 18.0752C19.1091 18.0752 19.2141 17.9703 19.2141 17.8408V16.9547ZM19.2141 18.618C19.2141 18.4885 19.1091 18.3836 18.9797 18.3836C18.8502 18.3836 18.7453 18.4885 18.7453 18.618V18.6225C18.7453 18.7519 18.8502 18.8569 18.9797 18.8569C19.1091 18.8569 19.2141 18.7519 19.2141 18.6225V18.618Z"
                              fill="#F2B829" />
                        <path d="M16.4775 17.7269C14.8824 17.7269 13.5895 16.434 13.5895 14.8389C13.5895 13.2438 14.8824 11.9508 16.4775 11.9508C18.0727 11.9508 19.3656 13.2438 19.3656 14.8389C19.3656 14.9729 19.3563 15.1047 19.3386 15.2339L19.8743 16.1618C20.0342 15.7517 20.1221 15.3056 20.1221 14.8389C20.1221 12.8261 18.4903 11.1943 16.4775 11.1943C14.4648 11.1943 12.833 12.8261 12.833 14.8389C12.833 16.8516 14.4648 18.4834 16.4775 18.4834C16.5695 18.4834 16.6606 18.4799 16.7509 18.4732L17.2407 17.6248C16.9976 17.6913 16.7418 17.7269 16.4775 17.7269Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M18.9695 12.761L18.403 13.3276C18.2886 13.442 18.103 13.442 17.9886 13.3276C17.8742 13.2132 17.8742 13.0276 17.9886 12.9132L18.5552 12.3467L18.9695 12.761Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M19.709 15.1318H18.9077C18.7459 15.1318 18.6147 15.0006 18.6147 14.8389C18.6147 14.6771 18.7459 14.5459 18.9077 14.5459H19.709V15.1318Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M14.3997 12.3467L14.9662 12.9132C15.0806 13.0276 15.0806 13.2132 14.9662 13.3276C14.8518 13.442 14.6663 13.442 14.5519 13.3276L13.9854 12.761L14.3997 12.3467Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M13.2461 14.5459H14.0473C14.2091 14.5459 14.3403 14.6771 14.3403 14.8389C14.3403 15.0006 14.2091 15.1318 14.0473 15.1318H13.2461V14.5459Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M13.9854 16.9165L14.5519 16.35C14.6663 16.2356 14.8518 16.2356 14.9662 16.35C15.0806 16.4644 15.0806 16.6499 14.9662 16.7643L14.3997 17.3308L13.9854 16.9165Z"
                              fill="#F2B829" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.1846 18.0703V17.269C16.1846 17.1073 16.3158 16.9761 16.4775 16.9761C16.6393 16.9761 16.7705 17.1073 16.7705 17.269V18.0703H16.1846Z"
                              fill="#F2B829" />
                    </svg>

                    <span>تاريخ الدورة
                        @{
                                    CultureInfo arabicCulture = new CultureInfo("ar-SA");
                                    string dayOfWeek2 = Model.StartDate?.ToString("dddd", arabicCulture);
                                    // Convert the day of the week to Arabic
                                    switch (dayOfWeek2)
                                    {
                                        case "Friday":
                                            dayOfWeek2 = "الجمعة";
                                            break;
                                        case "Saturday":
                                            dayOfWeek2 = "السبت";
                                            break;
                                        case "Sunday":
                                            dayOfWeek2 = "الأحد";
                                            break;
                                        case "Monday":
                                            dayOfWeek2 = "الاثنين";
                                            break;
                                        case "Tuesday":
                                            dayOfWeek2 = "الثلاثاء";
                                            break;
                                        case "Wednesday":
                                            dayOfWeek2 = "الأربعاء";
                                            break;
                                        case "Thursday":
                                            dayOfWeek2 = "الخميس";
                                            break;
                                    }
                            @dayOfWeek2
                            }
                        ، 
                        @(Model.StartDate != null ? Model.StartDate.Value.ToString("yyyy/MM/dd") : "")
                    </span>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                        <g clip-path="url(#clip0_734_8433)">
                            <path d="M9.5 0.0742188C4.30098 0.0742188 0.0742188 4.30098 0.0742188 9.5C0.0742188 14.699 4.30098 18.9258 9.5 18.9258C14.699 18.9258 18.9258 14.699 18.9258 9.5C18.9258 4.30098 14.699 0.0742188 9.5 0.0742188ZM9.5 17.0406C5.34375 17.0406 1.95938 13.6562 1.95938 9.5C1.95938 5.34375 5.34375 1.95938 9.5 1.95938C13.6562 1.95938 17.0406 5.34375 17.0406 9.5C17.0406 13.6562 13.6562 17.0406 9.5 17.0406Z"
                                  fill="#F2B829" />
                            <path d="M10.4428 8.99526V4.78706C10.4428 4.26753 10.0197 3.84448 9.50019 3.84448C8.98066 3.84448 8.55762 4.26753 8.55762 4.78706V9.49995C8.55762 9.81538 8.71348 10.1085 8.97695 10.283L11.8047 12.1681C11.9643 12.2757 12.1461 12.3277 12.3279 12.3277C12.6322 12.3277 12.9328 12.1792 13.1146 11.9083C13.4041 11.4742 13.2854 10.8916 12.8549 10.6021L10.4428 8.99526Z"
                                  fill="#F2B829" />
                        </g>
                        <defs>
                            <clipPath id="clip0_734_8433">
                                <rect width="19" height="19" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <span>
                        وقت الدورة : يوم     @{
                                    CultureInfo arabicCulture2 = new CultureInfo("ar-SA");
                                    string dayOfWeek = Model.StartDate?.ToString("dddd", arabicCulture2);
                                    // Convert the day of the week to Arabic
                                    switch (dayOfWeek)
                                    {
                                        case "Friday":
                                            dayOfWeek = "الجمعة";
                                            break;
                                        case "Saturday":
                                            dayOfWeek = "السبت";
                                            break;
                                        case "Sunday":
                                            dayOfWeek = "الأحد";
                                            break;
                                        case "Monday":
                                            dayOfWeek = "الاثنين";
                                            break;
                                        case "Tuesday":
                                            dayOfWeek = "الثلاثاء";
                                            break;
                                        case "Wednesday":
                                            dayOfWeek = "الأربعاء";
                                            break;
                                        case "Thursday":
                                            dayOfWeek = "الخميس";
                                            break;
                                    }
                                           @dayOfWeek
                                    }
                                    : من الساعة
                        <br>

                        @{
                            string morningOrEvening = "صباحًا";

                            if (@Model.StartTime != null)
                            {
                                if (@Model.StartTime.Value.Hour >= 12)
                                {
                                    morningOrEvening = "مساءً";
                                }
                            }
                        }
                        @Model.StartTime?.ToString("hh:mm tt") @morningOrEvening
                                        حتى

                        @{
                         string    morningOrEvening2 = "صباحًا";

                            if (@Model.EndTime != null)
                            {
                                if (@Model.EndTime.Value.Hour >= 12)
                                {
                                    morningOrEvening2 = "مساءً";
                                }
                            }
                        }
                        @Model.EndTime?.ToString("hh:mm tt") @morningOrEvening2

                        @{
                            if (dayOfWeek == "الجمعة")
                            {
                                <p>  يوم السبت: من الساعة</p>

                            }
                            else
                            {
                                <span>  يوم الاربعاء: من الساعة</span>
                            }
                        }
                                       
                        @Model.StartTime?.ToString("hh:mm tt") @morningOrEvening
                        
                                        حتى
                        @Model.EndTime?.ToString("hh:mm tt") @morningOrEvening2
                    </span>

                </li>

                <li style="border-bottom: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                        <g clip-path="url(#clip0_734_8437)">
                            <path d="M5.43604 0V6.73789H9.73615L11.5001 10.2658L13.2641 6.73789H17.5642V0H5.43604ZM9.47877 4.04273H8.13119V2.69515H9.47877V4.04273ZM12.1739 4.04273H10.8263V2.69515H12.1739V4.04273ZM14.8691 4.04273H13.5215V2.69515H14.8691V4.04273Z"
                                  fill="#F2B829" />
                            <path d="M6.32303 16.2607H2.97655C2.82203 15.6117 2.74072 14.9347 2.74072 14.2394C2.74072 13.5539 2.82113 12.8756 2.977 12.218H6.2287C6.15009 12.8761 6.10967 13.5539 6.10967 14.2394C6.10967 14.9073 6.18783 15.5861 6.32303 16.2607Z"
                                  fill="#F2B829" />
                            <path d="M8.99266 22.6331C6.46955 21.878 4.42033 20.0138 3.41504 17.6084H6.66584C7.25069 19.5224 8.1949 21.3174 8.99266 22.6331Z"
                                  fill="#F2B829" />
                            <path d="M6.44795 10.8704H3.41455C3.86307 9.7922 4.50663 8.85303 5.26702 8.08545H7.35577C6.96587 8.90702 6.65952 9.85212 6.44795 10.8704Z"
                                  fill="#F2B829" />
                            <path d="M10.2957 10.8704H7.82471C8.07086 9.79418 8.43291 8.84503 8.87806 8.08545H8.90322L10.2957 10.8704Z"
                                  fill="#F2B829" />
                            <path d="M10.826 12.218V16.2607H7.69825C7.54642 15.5829 7.45703 14.9024 7.45703 14.2394C7.45703 13.5413 7.5015 12.864 7.5846 12.218H10.826Z"
                                  fill="#F2B829" />
                            <path d="M8.07812 17.6084H10.8263V23.0001C10.0604 21.8582 8.82064 19.8198 8.07812 17.6084Z"
                                  fill="#F2B829" />
                            <path d="M15.1751 10.8704H12.7041L14.0966 8.08545H14.1218C14.5669 8.84503 14.929 9.79418 15.1751 10.8704Z"
                                  fill="#F2B829" />
                            <path d="M12.1738 17.6084H14.922C14.1795 19.8198 12.9397 21.8582 12.1738 23.0001V17.6084Z"
                                  fill="#F2B829" />
                            <path d="M15.5428 14.2394C15.5428 14.9024 15.4534 15.5829 15.3016 16.2607H12.1738V12.218H15.4152C15.4983 12.864 15.5428 13.5413 15.5428 14.2394Z"
                                  fill="#F2B829" />
                            <path d="M16.5519 10.8704C16.3403 9.85212 16.0339 8.90702 15.644 8.08545H17.7328C18.4932 8.85307 19.1368 9.79229 19.5853 10.8704H16.5519Z"
                                  fill="#F2B829" />
                            <path d="M16.3341 17.6084H19.5849C18.5797 20.0138 16.5304 21.878 14.0073 22.6331C14.8051 21.3174 15.7493 19.5224 16.3341 17.6084Z"
                                  fill="#F2B829" />
                            <path d="M20.2591 14.2394C20.2591 14.9347 20.1778 15.6117 20.0232 16.2607H16.6768C16.812 15.5861 16.8901 14.9073 16.8901 14.2394C16.8901 13.5539 16.8497 12.8761 16.7711 12.218H20.0228C20.1787 12.8756 20.2591 13.5539 20.2591 14.2394Z"
                                  fill="#F2B829" />
                        </g>
                        <defs>
                            <clipPath id="clip0_734_8437">
                                <r ect width="23" height="23" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <span>لغة عربية</span>
                </li>

            </ul>
        </div>

        <div class="btn-course">
             @if(!IsEx){
            <a asp-controller="Home" asp-action="GetPayment" asp-route-Id="@Model.TokenNumber" style=" background: #0EA349;">اشترك في الدورة</a>
             }
            @if (countViews > 0)
            {
              if(IscourseSec==0){
                if (ExistNumber == 0)
                {
                <a  asp-action="GetPaymentViews" id="clickTransform" asp-route-Id="@Model.TokenNumber" class="btn" style="padding:12px 0px; background: #F2B829; font-size:16px" >
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="35" viewBox="0 0 31 35" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M3.94929 3.34322C3.44845 3.14286 2.89971 3.44242 2.72362 4.01228C2.54754 4.58215 2.8108 5.20653 3.31164 5.40688L3.64642 5.54081C4.50208 5.88311 5.06441 6.10996 5.47818 6.34097C5.86683 6.55794 6.03815 6.73357 6.15101 6.92149C6.26669 7.11412 6.35603 7.37869 6.40644 7.90858C6.45919 8.46305 6.4605 9.18523 6.4605 10.2643V14.0584C6.4605 18.3483 6.54154 19.7639 7.65199 21.0966C8.76243 22.4293 10.5497 22.4293 14.1241 22.4293H20.9207C22.9214 22.4293 23.9217 22.4293 24.6288 21.7736C25.3359 21.1179 25.5379 20.0032 25.9418 17.7735L26.5824 14.2375C27.0272 11.7013 27.2497 10.4333 26.6807 9.59168C26.1117 8.75011 24.1677 8.75011 22.0081 8.75011H8.37344C8.36487 8.35588 8.3486 7.99721 8.31778 7.67317C8.24891 6.94929 8.0997 6.28907 7.7383 5.6873C7.37407 5.08084 6.88979 4.69243 6.32505 4.37714C5.7969 4.08226 5.12576 3.81381 4.33559 3.49775L3.94929 3.34322ZM16.7141 12.0314C17.245 12.0314 17.6754 12.5211 17.6754 13.1251V14.948H19.2775C19.8083 14.948 20.2387 15.4377 20.2387 16.0418C20.2387 16.6458 19.8083 17.1355 19.2775 17.1355H17.6754V18.9584C17.6754 19.5625 17.245 20.0522 16.7141 20.0522C16.1833 20.0522 15.7529 19.5625 15.7529 18.9584V17.1355H14.1508C13.6199 17.1355 13.1895 16.6458 13.1895 16.0418C13.1895 15.4377 13.6199 14.948 14.1508 14.948H15.7529V13.1251C15.7529 12.5211 16.1833 12.0314 16.7141 12.0314Z"
                          fill="white" />
                    <path d="M9.66469 26.25C10.7265 26.25 11.5872 27.2294 11.5872 28.4375C11.5872 29.6456 10.7265 30.625 9.66469 30.625C8.60292 30.625 7.74219 29.6456 7.74219 28.4375C7.74219 27.2294 8.60292 26.25 9.66469 26.25Z"
                          fill="white" />
                    <path d="M21.1998 26.2502C22.2616 26.2502 23.1224 27.2295 23.1224 28.4377C23.1224 29.6458 22.2616 30.6252 21.1998 30.6252C20.1381 30.6252 19.2773 29.6458 19.2773 28.4377C19.2773 27.2295 20.1381 26.2502 21.1998 26.2502Z"
                          fill="white" />
                </svg>
                اضافة الدورة الى العرض القائم 
                    </a>
                }
                else
                {
                    <a href="~/Home/GetPaymentViews" class="btn" style="padding:12px 0px; background: #F2B829; font-size:16px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="35" viewBox="0 0 31 35" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.94929 3.34322C3.44845 3.14286 2.89971 3.44242 2.72362 4.01228C2.54754 4.58215 2.8108 5.20653 3.31164 5.40688L3.64642 5.54081C4.50208 5.88311 5.06441 6.10996 5.47818 6.34097C5.86683 6.55794 6.03815 6.73357 6.15101 6.92149C6.26669 7.11412 6.35603 7.37869 6.40644 7.90858C6.45919 8.46305 6.4605 9.18523 6.4605 10.2643V14.0584C6.4605 18.3483 6.54154 19.7639 7.65199 21.0966C8.76243 22.4293 10.5497 22.4293 14.1241 22.4293H20.9207C22.9214 22.4293 23.9217 22.4293 24.6288 21.7736C25.3359 21.1179 25.5379 20.0032 25.9418 17.7735L26.5824 14.2375C27.0272 11.7013 27.2497 10.4333 26.6807 9.59168C26.1117 8.75011 24.1677 8.75011 22.0081 8.75011H8.37344C8.36487 8.35588 8.3486 7.99721 8.31778 7.67317C8.24891 6.94929 8.0997 6.28907 7.7383 5.6873C7.37407 5.08084 6.88979 4.69243 6.32505 4.37714C5.7969 4.08226 5.12576 3.81381 4.33559 3.49775L3.94929 3.34322ZM16.7141 12.0314C17.245 12.0314 17.6754 12.5211 17.6754 13.1251V14.948H19.2775C19.8083 14.948 20.2387 15.4377 20.2387 16.0418C20.2387 16.6458 19.8083 17.1355 19.2775 17.1355H17.6754V18.9584C17.6754 19.5625 17.245 20.0522 16.7141 20.0522C16.1833 20.0522 15.7529 19.5625 15.7529 18.9584V17.1355H14.1508C13.6199 17.1355 13.1895 16.6458 13.1895 16.0418C13.1895 15.4377 13.6199 14.948 14.1508 14.948H15.7529V13.1251C15.7529 12.5211 16.1833 12.0314 16.7141 12.0314Z"
                                  fill="white" />
                            <path d="M9.66469 26.25C10.7265 26.25 11.5872 27.2294 11.5872 28.4375C11.5872 29.6456 10.7265 30.625 9.66469 30.625C8.60292 30.625 7.74219 29.6456 7.74219 28.4375C7.74219 27.2294 8.60292 26.25 9.66469 26.25Z"
                                  fill="white" />
                            <path d="M21.1998 26.2502C22.2616 26.2502 23.1224 27.2295 23.1224 28.4377C23.1224 29.6458 22.2616 30.6252 21.1998 30.6252C20.1381 30.6252 19.2773 29.6458 19.2773 28.4377C19.2773 27.2295 20.1381 26.2502 21.1998 26.2502Z"
                                  fill="white" />
                        </svg>
                        اضافة الدورة الى العرض القائم
                    </a>
                }
                }
            }

        </div>

    </div>
    @{
        check =
        string.IsNullOrEmpty(Model.CoursesData.TestAr)
        && string.IsNullOrEmpty(Model.CoursesData.PriceM.ToString());
    }
    <div class="courses ">
        <nav class="nav nav-tabs ">

            <button type="button" class="col-4  col-lg nav-link active" style="border-left: none;" data-bs-target="#tab6"
                    data-bs-toggle="tab">
                موعد الدورة
            </button>

            @if (!string.IsNullOrEmpty(Model.CoursesData.DetailsAr))
            {
                <button type="button" class="col-4  col-lg nav-link " style="border-right: none;" data-bs-target="#tab1"
                data-bs-toggle="tab">
                عن الدورة
            </button>
            }

            @if (!string.IsNullOrEmpty(Model.CoursesData.GoalsAr))
            {
                <button type="button" class="col-4  col-lg nav-link " data-bs-target="#tab2" data-bs-toggle="tab">
                    اهداف
                الدورة
            </button>
            }

            @if (!string.IsNullOrEmpty(Model.CoursesData.TargetAr))
            {
                <button type="button" class="col-4  col-lg nav-link " data-bs-target="#tab3" data-bs-toggle="tab">
                    من يحتاج هذه
                الدورة
            </button>
            }

            @if (!string.IsNullOrEmpty(Model.CoursesData.SkillsAr))
            {
            <button type="button" class="col-4  col-lg nav-link " data-bs-target="#tab4" data-bs-toggle="tab">
                مهارات و
                كفاءات
            </button>
            }
           
            @if (!check)
            {
                <button type="button" class="col-4  col-lg nav-link " data-bs-target="#tab5" data-bs-toggle="tab">
                    تفاصيل
                الاختبارات
                  </button>
            }
          

        </nav>

        <div class="tab-content">
            <div class="tab-pane active show fade" id="tab6">
                <h2>مواعيد الدورة</h2>

                <span class="live-courses">

                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                        <g clip-path="url(#clip0_1153_3198)">
                            <path d="M14.6582 9.85152C14.6582 10.5175 15.1957 11.0563 15.8643 11.0563C16.5303 11.0563 17.0678 10.5175 17.0678 9.85152C17.0678 9.18553 16.5303 8.64673 15.8643 8.64673C15.1957 8.64543 14.6582 9.18487 14.6582 9.85152Z" fill="#F2B829" />
                            <path d="M14.1289 13.6185C14.1289 14.5741 14.9051 15.3516 15.8634 15.3516C16.8177 15.3516 17.5945 14.5741 17.5945 13.6185C17.5945 12.6609 16.8177 11.884 15.8634 11.884C14.9051 11.884 14.1289 12.6609 14.1289 13.6185Z" fill="#F2B829" />
                            <path d="M17.9287 16.0307L16.5321 15.6106L15.8929 16.377L15.2328 15.6106L13.7012 16.0307V18.9529H18.0252L17.9287 16.0307Z" fill="#F2B829" />
                            <path d="M9.65974 11.9324C8.70283 11.9324 7.92529 12.7093 7.92529 13.6662C7.92529 14.6218 8.70283 15.3993 9.65974 15.3993C10.616 15.3993 11.3922 14.6218 11.3922 13.6662C11.3916 12.7099 10.6147 11.9324 9.65974 11.9324Z" fill="#F2B829" />
                            <path d="M10.3297 15.6589L9.68845 16.4267L9.02963 15.6589L7.49805 16.079V19H11.8228L11.7256 16.079L10.3297 15.6589Z" fill="#F2B829" />
                            <path d="M12.7114 12.5149C13.4117 12.5149 13.9795 11.9471 13.9795 11.2468C13.9795 10.5465 13.4117 9.97876 12.7114 9.97876C12.0111 9.97876 11.4434 10.5465 11.4434 11.2468C11.4434 11.9471 12.0111 12.5149 12.7114 12.5149Z" fill="#F2B829" />
                            <path d="M14.2923 15.0724C14.066 14.6458 13.9088 14.1827 13.9088 13.6661C13.9088 13.3262 14.0007 13.0105 14.1031 12.7046H13.9792H13.6707H13.1991L12.7314 13.2656L12.2493 12.7046H11.7529H11.4764C11.6042 13.0014 11.6786 13.3256 11.6786 13.6648C11.6786 14.2225 11.4829 14.7332 11.1606 15.1507H14.2936L14.2923 15.0724Z" fill="#F2B829" />
                            <path d="M4.01346 9.39753C5.35792 9.39753 6.44782 8.30763 6.44782 6.96317C6.44782 5.61871 5.35792 4.52881 4.01346 4.52881C2.669 4.52881 1.5791 5.61871 1.5791 6.96317C1.5791 8.30763 2.669 9.39753 4.01346 9.39753Z" fill="#F2B829" />
                            <path d="M9.56564 8.18164L6.46333 9.7628H4.89913L3.97222 10.8391L3.07336 9.7628L1.11126 10.1835L0.975586 14.5043H1.81052L1.84379 15.1749H6.24677L6.46007 11.0263L9.94266 9.32054L9.56564 8.18164Z" fill="#F2B829" />
                            <path d="M8.57197 5.41397L7.59483 6.87119L7.97381 6.84119C7.9999 6.83858 10.5269 6.62724 12.2763 6.23912C14.5731 5.73164 15.9396 4.71536 16.0303 3.45187C16.1516 1.73308 14.2163 0.191711 11.7173 0.0162439C9.21904 -0.159875 7.088 1.09514 6.96732 2.81393C6.89818 3.7878 7.49503 4.74928 8.57197 5.41397ZM11.6919 0.38218C13.9886 0.543949 15.7713 1.9092 15.663 3.42643C15.5548 4.97433 13.2032 5.65923 12.1981 5.88167C10.8759 6.17454 9.09771 6.36632 8.3267 6.44068L9.09511 5.29264L8.92355 5.19545C7.86553 4.59991 7.27064 3.71801 7.33196 2.83937C7.44024 1.32279 9.39451 0.221064 11.6919 0.38218Z" fill="#F2B829" />
                        </g>
                        <defs>
                            <clipPath id="clip0_1153_3198">
                                <rect width="19" height="19" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    دورات حضورية
                </span>

                <div>
                    <table>
                        <tr>
                            <th>موعد الدورة</th>
                            <th>وقت الدورة</th>
                            <th>الاشتراك</th>
                        </tr>
                        @if (CoursenOline != null)
                        {
                            foreach (var itemCoursenOline in CourseMantadory)
                            {
                                <tr>
                                    <td>
                                        @{
                                            CultureInfo MArabicCulture = new CultureInfo("ar-SA");
                                            string DayOfWeek = itemCoursenOline.StartDate?.ToString("dddd", MArabicCulture);
                                            // Convert the day of the week to Arabic
                                            switch (DayOfWeek)
                                            {
                                                case "Friday":
                                                    DayOfWeek = "الجمعة";
                                                    break;
                                                case "Saturday":
                                                    DayOfWeek = "السبت";
                                                    break;
                                                case "Sunday":
                                                    DayOfWeek = "الأحد";
                                                    break;
                                                case "Monday":
                                                    DayOfWeek = "الاثنين";
                                                    break;
                                                case "Tuesday":
                                                    DayOfWeek = "الثلاثاء";
                                                    break;
                                                case "Wednesday":
                                                    DayOfWeek = "الأربعاء";
                                                    break;
                                                case "Thursday":
                                                    DayOfWeek = "الخميس";
                                                    break;
                                            }
                                            @DayOfWeek
                                        }
                                        , @(itemCoursenOline.StartDate != null ? itemCoursenOline.StartDate.Value.ToString("yyyy/MM/dd") : "")
                                    </td>

                                    <td>
                                        @{
                                            CultureInfo MarabicCultures = new CultureInfo("ar-SA");
                                            string dayOfWeeks = itemCoursenOline.StartDate?.ToString("dddd", MarabicCultures);
                                            // Convert the day of the week to Arabic
                                            switch (dayOfWeeks)
                                            {
                                                case "Friday":
                                                    dayOfWeeks = "الجمعة";
                                                    break;
                                                case "Saturday":
                                                    dayOfWeeks = "السبت";
                                                    break;
                                                case "Sunday":
                                                    dayOfWeeks = "الأحد";
                                                    break;
                                                case "Monday":
                                                    dayOfWeeks = "الاثنين";
                                                    break;
                                                case "Tuesday":
                                                    dayOfWeeks = "الثلاثاء";
                                                    break;
                                                case "Wednesday":
                                                    dayOfWeeks = "الأربعاء";
                                                    break;
                                                case "Thursday":
                                                    dayOfWeeks = "الخميس";
                                                    break;
                                            }
                                            @dayOfWeeks
                                        }
                                        من الساعة
                                        @{
                                            string morningOrEvenings = "صباحًا";

                                            if (@itemCoursenOline.StartTime != null)
                                            {
                                                if (@itemCoursenOline.StartTime.Value.Hour >= 12)
                                                {
                                                    morningOrEvenings = "مساءً";
                                                }
                                            }
                                        }
                                        @itemCoursenOline.StartTime?.ToString("hh:mm tt") @morningOrEvenings
                                        حتى

                                        @{
                                            string morningOrEvenings2 = "صباحًا";

                                            if (@itemCoursenOline.EndTime != null)
                                            {
                                                if (@itemCoursenOline.EndTime.Value.Hour >= 12)
                                                {
                                                    morningOrEvenings2 = "مساءً";
                                                }
                                            }
                                        }
                                        @itemCoursenOline.EndTime?.ToString("hh:mm tt") @morningOrEvenings2



                                    </td>
                                    <td>
                                        <a asp-controller="Home" class="btn btn-success" asp-action="GetPayment" asp-route-Id="@itemCoursenOline.TokenNumber">اشترك</a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>

                <span class="online-courses">


                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M9.45323 19.7031H9.37511C8.71886 19.6718 8.14073 19.2031 7.96886 18.5468C7.76573 17.7656 8.17198 16.9687 8.93761 16.6875C9.10948 16.625 9.29698 16.5937 9.46886 16.5937C10.0626 16.5937 10.6095 16.9375 10.8595 17.4687C10.922 17.5937 11.0001 17.6093 11.047 17.6093H11.1095C13.7501 17.1718 15.7032 15.7343 16.922 13.3437C16.9376 13.3281 16.9376 13.2969 16.9532 13.2656L17.0001 13.1406L16.8595 13.1562L16.7657 13.1719C16.7032 13.1719 16.672 13.1875 16.6251 13.1875H16.5001C15.3439 13.1875 14.4064 12.25 14.4064 11.0937V8.93747C14.4064 7.78122 15.3439 6.84372 16.5001 6.84372H16.6251C16.7657 6.84372 16.8907 6.8906 17.0314 6.92185C17.0939 6.93747 17.172 6.9531 17.2345 6.96872L17.2814 6.98435L17.4064 7.03122L17.3751 6.8906C16.7189 4.1406 14.0314 1.3281 10.2032 1.23435H10.0001C6.09386 1.23435 3.32823 4.06248 2.60948 6.85935L2.57823 6.98435L2.70323 6.9531C2.75011 6.93747 2.79698 6.93747 2.84386 6.92185C2.95323 6.8906 3.04698 6.85935 3.15636 6.84372C3.26573 6.8281 3.39073 6.81247 3.50011 6.81247C4.48448 6.81247 5.39073 7.56247 5.54698 8.53122C5.56261 8.65622 5.57823 8.81248 5.57823 8.96873V11.0781C5.57823 12.0937 4.90636 12.9218 3.90636 13.1406C3.76573 13.1718 3.62511 13.1875 3.48448 13.1875C2.46886 13.1875 1.59386 12.4375 1.42198 11.4531C1.40636 11.3125 1.39073 11.2031 1.39073 11.0937V10.4687C1.39073 9.92185 1.37511 9.35935 1.39073 8.81248C1.45323 6.06247 2.59386 3.79685 4.75011 2.09373C5.82823 1.23435 7.09386 0.687475 8.50011 0.437475C9.18761 0.312475 9.90636 0.2656 10.5939 0.3281C10.7032 0.343725 10.8282 0.343725 10.9376 0.35935C12.1564 0.48435 13.297 0.85935 14.3126 1.46873C16.3595 2.67185 17.7032 4.4531 18.3282 6.73435C18.5157 7.40622 18.6095 8.12497 18.6095 8.87497V11.0781C18.6095 11.4062 18.5314 11.7187 18.3907 12.0468C18.3439 12.1406 18.3126 12.25 18.297 12.3593C18.2814 12.3906 18.2814 12.4375 18.2657 12.4687C17.3595 15.5156 14.8595 17.8125 11.7501 18.4531C11.5626 18.4843 11.3595 18.5312 11.1095 18.5625C10.9845 18.5781 10.9532 18.6562 10.922 18.7187C10.672 19.2969 10.1095 19.7031 9.45323 19.7031ZM16.5314 7.74997H16.4064C15.797 7.81247 15.3595 8.31247 15.3595 8.90622V11.0781C15.3595 11.1719 15.3751 11.2656 15.3907 11.3593C15.5157 11.8906 15.9845 12.2656 16.5157 12.2656C16.5626 12.2656 16.6095 12.2656 16.6564 12.25C17.2657 12.1719 17.7032 11.6875 17.7032 11.0937V8.92185C17.7032 8.8281 17.6876 8.73435 17.672 8.65623C17.5314 8.12497 17.0626 7.74997 16.5314 7.74997ZM3.48448 7.74997C2.82823 7.74997 2.32823 8.2656 2.32823 8.92185V11.0625C2.32823 11.1562 2.34386 11.25 2.35948 11.3281C2.48448 11.8594 2.95323 12.2344 3.48448 12.2344H3.60948C4.21886 12.1719 4.65636 11.6719 4.65636 11.0781V8.92185C4.64073 8.2656 4.14073 7.74997 3.48448 7.74997Z" fill="#F2B829" />
                    </svg>

                    دورات اونلاين
                </span>
                <div>
                    <table>
                        <tr>
                            <th>موعد الدورة</th>
                            <th>وقت الدورة</th>
                            <th>الاشتراك</th>
                        </tr>
                        @if (CoursenOline != null)    
                        {
                            foreach (var itemCoursenOline in CoursenOline)
                            {
                                <tr>
                                    <td>
                                        @{
                                            CultureInfo ArabicCulture = new CultureInfo("ar-SA");
                                            string DayOfWeek = itemCoursenOline.StartDate?.ToString("dddd", arabicCulture);
                                            // Convert the day of the week to Arabic
                                            switch (DayOfWeek)
                                            {
                                                case "Friday":
                                                    DayOfWeek = "الجمعة";
                                                    break;
                                                case "Saturday":
                                                    DayOfWeek = "السبت";
                                                    break;
                                                case "Sunday":
                                                    DayOfWeek = "الأحد";
                                                    break;
                                                case "Monday":
                                                    DayOfWeek = "الاثنين";
                                                    break;
                                                case "Tuesday":
                                                    DayOfWeek = "الثلاثاء";
                                                    break;
                                                case "Wednesday":
                                                    DayOfWeek = "الأربعاء";
                                                    break;
                                                case "Thursday":
                                                    DayOfWeek = "الخميس";
                                                    break;
                                            }
                                            @DayOfWeek
                                        }
                                        , @(itemCoursenOline.StartDate != null ? itemCoursenOline.StartDate.Value.ToString("yyyy/MM/dd") : "")
                                    </td>

                                    <td>
                                        @{
                                            CultureInfo arabicCultures = new CultureInfo("ar-SA");
                                            string dayOfWeeks = itemCoursenOline.StartDate?.ToString("dddd", arabicCultures);
                                            // Convert the day of the week to Arabic
                                            switch (dayOfWeeks)
                                            {
                                                case "Friday":
                                                    dayOfWeeks = "الجمعة";
                                                    break;
                                                case "Saturday":
                                                    dayOfWeek = "السبت";
                                                    break;
                                                case "Sunday":
                                                    dayOfWeeks = "الأحد";
                                                    break;
                                                case "Monday":
                                                    dayOfWeeks = "الاثنين";
                                                    break;
                                                case "Tuesday":
                                                    dayOfWeeks = "الثلاثاء";
                                                    break;
                                                case "Wednesday":
                                                    dayOfWeeks = "الأربعاء";
                                                    break;
                                                case "Thursday":
                                                    dayOfWeeks = "الخميس";
                                                    break;
                                            }
                                            @dayOfWeeks
                                        }
                                        من الساعة
                                        @{
                                            string morningOrEvenings = "صباحًا";

                                            if (@itemCoursenOline.StartTime != null)
                                            {
                                                if (@itemCoursenOline.StartTime.Value.Hour >= 12)
                                                {
                                                    morningOrEvenings = "مساءً";
                                                }
                                            }
                                        }
                                        @itemCoursenOline.StartTime?.ToString("hh:mm tt") @morningOrEvenings
                                        حتى

                                        @{
                                            string morningOrEvenings2 = "صباحًا";

                                            if (@itemCoursenOline.EndTime != null)
                                            {
                                                if (@itemCoursenOline.EndTime.Value.Hour >= 12)
                                                {
                                                    morningOrEvenings2 = "مساءً";
                                                }
                                            }
                                        }
                                        @itemCoursenOline.EndTime?.ToString("hh:mm tt") @morningOrEvenings2
                                    
                                    
                                    
                                    </td>
                                    <td>
                                        <a asp-controller="Home" class="btn btn-success" asp-action="GetPayment" asp-route-Id="@itemCoursenOline.TokenNumber">اشترك</a>
                                     </td>
                                </tr>
                            }
                        }
                    </table>
                </div>

            </div>

            @if (!string.IsNullOrEmpty(Model.CoursesData.DetailsAr))
            {

                <div class="tab-pane fade" id="tab1">
                    <h2>@Model.CoursesData.HeaderAr</h2>
                <p class="break-after-dot">@Model.CoursesData.DetailsAr</p>
            </div>
            }


            @if (!string.IsNullOrEmpty(Model.CoursesData.GoalsAr))
            {
                <div class="tab-pane fade" id="tab2">
                    <h3>الأهداف المتوقعة من @Model.CoursesData.HeaderAr</h3>
                    <p class="break-after-dot">@Model.CoursesData.GoalsAr</p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.CoursesData.TargetAr))
            {
                <div class="tab-pane fade" id="tab3">
                    <h3>من يحتاج @Model.CoursesData.HeaderAr</h3>
                 <p class="break-after-dot">@Model.CoursesData.TargetAr</p>
            </div>
            }

            @if (!string.IsNullOrEmpty(Model.CoursesData.SkillsAr))
            {
                <div class="tab-pane fade" id="tab4">
                    <h3>من يحتاج @Model.CoursesData.HeaderAr </h3>
                <p class="break-after-dot">@Model.CoursesData.SkillsAr</p>
            </div>
            }


            @if (!check)
            {
                <div class="tab-pane fade" id="tab5">
                    @if (!string.IsNullOrEmpty(Model.CoursesData.TestAr))
                    {
                        <h3>شروط اختبار @Model.CoursesData.HeaderAr</h3>
                        <p class="tab-pane">@Model.CoursesData.TestAr</p>
                        <br>
                    }
                    else if (!string.IsNullOrEmpty(Model.CoursesData.PriceM.ToString()))
                    {
                        <span>سعر اختبار @Model.CoursesData.HeaderAr</span>
                        <p>
                            للأفراد المنتسبين لمعهد ® PMI الدولي: @Model.CoursesData.PriceM ر.س
                       
                        </p>
                        <br>
                    }
                    else if (!string.IsNullOrEmpty(Model.CoursesData.FromalutetestAr))
                    {
                        <span>صيغة اختبار @Model.CoursesData.HeaderAr</span>
                        <p class="tab-pane">@Model.CoursesData.FromalutetestAr</p>
                    }
                </div>
            }




           
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elements = document.querySelectorAll('.break-after-dot');

        elements.forEach(function (element) {
            element.innerHTML = element.innerHTML.replace(/\./g, '.<br>');
        });
    });   
</script>
<script>
    var clickConfirm = document.getElementById("clickTransform");
    NumberOfViews = '@ExistNumber';
    var NumberSec = '@IscourseSec';
    
    clickConfirm.oncontextmenu = function (e) {
        e.preventDefault();
    };



    clickConfirm.onclick = function (e) {
        console.log(NumberOfViews);
        if (IscourseSec == 1 || NumberSec > 0) {
            e.preventDefault();
            Swal.fire({
                icon: "error",
                title: "خطأ ...",
                text: 'الدورة موجودة بالفعل لايمكنك اضافة الدورة مرتين',
                confirmButtonColor: "#0d5f91",
                confirmButtonText: "موافق",
                iconColor: "#0d5f91",
            });
        }
    };
    </script>