@using System.Globalization;
@using WebApplicationAbad.Data;
@model WebApplicationAbad.Areas.AdminCoursesData.Models.CoursesScheduless
@inject ApplicationDbContext context;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "GetPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int StdunetID = Convert.ToInt32(ViewBag.StudntId);
    var contexts = context.CoursesReserveds.FirstOrDefault(b => b.CoursesSchedulessId == Model.Id && b.StudentId == StdunetID);

    bool IsEx = false;

    if (contexts != null)
    {
        IsEx = true;
    }

   
}
<style>
     .morw {
        border-radius: 50px;
        background: #0EA349;
        color: #FFF;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 90%;
        font-size: 20px;
        font-weight: 700;
        padding: 20px;
        border: none;
        margin-top: 30px;
        text-decoration:none;
    }

    .headerl{
        font-size: 10px;
        font-weight: bold;
        background: #fdb614;
        padding: 16px;
        border-radius: 31px;
        color: white;
    }
</style>

 </header>
  <!-- payment -->
  <div class="payment-title">
    <h1>الدفع</h1>
  </div>
  <div class="payment">
    <div class="left-payment">
      <table>
        <tr>
          <th class="pb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 12 12" fill="none">
              <g clip-path="url(#clip0_285_419)">
                <path
                  d="M4.125 2.25002V1.12427C4.125 1.02481 4.16451 0.929429 4.23484 0.859103C4.30516 0.788776 4.40054 0.749268 4.5 0.749268H7.5C7.59946 0.749268 7.69484 0.788776 7.76517 0.859103C7.83549 0.929429 7.875 1.02481 7.875 1.12427V2.25002H10.875C10.9745 2.25002 11.0698 2.28953 11.1402 2.35985C11.2105 2.43018 11.25 2.52556 11.25 2.62502C11.25 2.72447 11.2105 2.81986 11.1402 2.89018C11.0698 2.96051 10.9745 3.00002 10.875 3.00002H1.125C1.02554 3.00002 0.930161 2.96051 0.859835 2.89018C0.789509 2.81986 0.75 2.72447 0.75 2.62502C0.75 2.52556 0.789509 2.43018 0.859835 2.35985C0.930161 2.28953 1.02554 2.25002 1.125 2.25002H4.125ZM4.875 2.25002H7.125V1.50002H4.875V2.25002ZM2.25 11.25C2.15054 11.25 2.05516 11.2105 1.98484 11.1402C1.91451 11.0699 1.875 10.9745 1.875 10.875V3.00002H10.125V10.875C10.125 10.9745 10.0855 11.0699 10.0152 11.1402C9.94484 11.2105 9.84946 11.25 9.75 11.25H2.25ZM4.875 9.00002C4.97446 9.00002 5.06984 8.96051 5.14016 8.89018C5.21049 8.81986 5.25 8.72447 5.25 8.62502V4.87502C5.25 4.77556 5.21049 4.68018 5.14016 4.60985C5.06984 4.53953 4.97446 4.50002 4.875 4.50002C4.77554 4.50002 4.68016 4.53953 4.60984 4.60985C4.53951 4.68018 4.5 4.77556 4.5 4.87502V8.62502C4.5 8.72447 4.53951 8.81986 4.60984 8.89018C4.68016 8.96051 4.77554 9.00002 4.875 9.00002ZM7.125 9.00002C7.22446 9.00002 7.31984 8.96051 7.39017 8.89018C7.46049 8.81986 7.5 8.72447 7.5 8.62502V4.87502C7.5 4.77556 7.46049 4.68018 7.39017 4.60985C7.31984 4.53953 7.22446 4.50002 7.125 4.50002C7.02554 4.50002 6.93016 4.53953 6.85983 4.60985C6.78951 4.68018 6.75 4.77556 6.75 4.87502V8.62502C6.75 8.72447 6.78951 8.81986 6.85983 8.89018C6.93016 8.96051 7.02554 9.00002 7.125 9.00002Z"
                  fill="#EB001B" fill-opacity="0.6" />
              </g>
              <defs>
                <clipPath id="clip0_285_419">
                  <rect width="12" height="12" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </th>

          <th>
            <input type="checkbox" id="selectAll">
            <label class="me-4 select" for="selectAll">تحديد الكل</label>
          </th>
          <th>المنتج </th>
          <th> موعد الدورة </th>
          <th> وقت الدورة</th>
          <th>السعر الاجمالي </th>

        </tr>




        <tr style="border-bottom: none;">
          <td class="pb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 12 12" fill="none">
              <g clip-path="url(#clip0_285_423)">
                <path
                  d="M4.125 2.25002V1.12427C4.125 1.02481 4.16451 0.929429 4.23484 0.859103C4.30516 0.788776 4.40054 0.749268 4.5 0.749268H7.5C7.59946 0.749268 7.69484 0.788776 7.76517 0.859103C7.83549 0.929429 7.875 1.02481 7.875 1.12427V2.25002H10.875C10.9745 2.25002 11.0698 2.28953 11.1402 2.35985C11.2105 2.43018 11.25 2.52556 11.25 2.62502C11.25 2.72447 11.2105 2.81986 11.1402 2.89018C11.0698 2.96051 10.9745 3.00002 10.875 3.00002H1.125C1.02554 3.00002 0.930161 2.96051 0.859835 2.89018C0.789509 2.81986 0.75 2.72447 0.75 2.62502C0.75 2.52556 0.789509 2.43018 0.859835 2.35985C0.930161 2.28953 1.02554 2.25002 1.125 2.25002H4.125ZM4.875 2.25002H7.125V1.50002H4.875V2.25002ZM2.25 11.25C2.15054 11.25 2.05516 11.2105 1.98484 11.1402C1.91451 11.0699 1.875 10.9745 1.875 10.875V3.00002H10.125V10.875C10.125 10.9745 10.0855 11.0699 10.0152 11.1402C9.94484 11.2105 9.84946 11.25 9.75 11.25H2.25ZM4.875 9.00002C4.97446 9.00002 5.06984 8.96051 5.14016 8.89018C5.21049 8.81986 5.25 8.72447 5.25 8.62502V4.87502C5.25 4.77556 5.21049 4.68018 5.14016 4.60985C5.06984 4.53953 4.97446 4.50002 4.875 4.50002C4.77554 4.50002 4.68016 4.53953 4.60984 4.60985C4.53951 4.68018 4.5 4.77556 4.5 4.87502V8.62502C4.5 8.72447 4.53951 8.81986 4.60984 8.89018C4.68016 8.96051 4.77554 9.00002 4.875 9.00002ZM7.125 9.00002C7.22446 9.00002 7.31984 8.96051 7.39017 8.89018C7.46049 8.81986 7.5 8.72447 7.5 8.62502V4.87502C7.5 4.77556 7.46049 4.68018 7.39017 4.60985C7.31984 4.53953 7.22446 4.50002 7.125 4.50002C7.02554 4.50002 6.93016 4.53953 6.85983 4.60985C6.78951 4.68018 6.75 4.77556 6.75 4.87502V8.62502C6.75 8.72447 6.78951 8.81986 6.85983 8.89018C6.93016 8.96051 7.02554 9.00002 7.125 9.00002Z"
                  fill="#EB001B" fill-opacity="0.6" />
              </g>
              <defs>
                <clipPath id="clip0_285_423">
                  <rect width="12" height="12" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </td>

          <td>
            <input type="checkbox">
                    <img src="~/admin/coursestypeimage/@Model.CoursesData.Image" alt="" class="imge-bor" />
            @*<img class="me-3 select" src="~/customer/content/assets/images/ccna.png" alt="">*@
          </td>
          <td class="text-end">@Model.CoursesData.HeaderAr
          </td>
          <td>
                    @{
                        CultureInfo MArabicCulture = new CultureInfo("ar-SA");
                        string DayOfWeek = Model.StartDate?.ToString("dddd", MArabicCulture);
                        // Convert the day of the week to Arabic
                        switch (DayOfWeek)
                        {
                            case "Friday":
                                DayOfWeek = "الجمعة";
                                break;
                            case "Saturday":
                                DayOfWeek = "السبت";
                                break;
                            case "Sunday":
                                DayOfWeek = "الأحد";
                                break;
                            case "Monday":
                                DayOfWeek = "الاثنين";
                                break;
                            case "Tuesday":
                                DayOfWeek = "الثلاثاء";
                                break;
                            case "Wednesday":
                                DayOfWeek = "الأربعاء";
                                break;
                            case "Thursday":
                                DayOfWeek = "الخميس";
                                break;
                        }
                        @DayOfWeek
                    }
                    , @(Model.StartDate != null ? Model.StartDate.Value.ToString("yyyy/MM/dd") : "")

                </td>

                <td>
                    @{
                        CultureInfo MarabicCultures = new CultureInfo("ar-SA");
                        string dayOfWeeks = Model.StartDate?.ToString("dddd", MarabicCultures);
                        // Convert the day of the week to Arabic
                        switch (dayOfWeeks)
                        {
                            case "Friday":
                                dayOfWeeks = "الجمعة";
                                break;
                            case "Saturday":
                                dayOfWeeks = "السبت";
                                break;
                            case "Sunday":
                                dayOfWeeks = "الأحد";
                                break;
                            case "Monday":
                                dayOfWeeks = "الاثنين";
                                break;
                            case "Tuesday":
                                dayOfWeeks = "الثلاثاء";
                                break;
                            case "Wednesday":
                                dayOfWeeks = "الأربعاء";
                                break;
                            case "Thursday":
                                dayOfWeeks = "الخميس";
                                break;
                        }
                        @dayOfWeeks
                    }
                    <br />
                    من الساعة
                    @{
                        string morningOrEvenings = "صباحًا";

                        if (@Model.StartTime != null)
                        {
                            if (@Model.StartTime.Value.Hour >= 12)
                            {
                                morningOrEvenings = "مساءً";
                            }
                        }
                    }
                    @Model.StartTime?.ToString("hh:mm tt") @morningOrEvenings
                    <br />
                    حتى

                    @{
                        string morningOrEvenings2 = "صباحًا";

                        if (@Model.EndTime != null)
                        {
                            if (@Model.EndTime.Value.Hour >= 12)
                            {
                                morningOrEvenings2 = "مساءً";
                            }
                        }
                    }
                    @Model.EndTime?.ToString("hh:mm tt") @morningOrEvenings2



                </td>
                <td><label id="price">@Model.Cost</label> ر.س</td>
        </tr>
      



      </table>
    </div>
    <div class="right-payment">
      <h2>ملخص الطلب</h2>

        <ul>
            <li>
                <span>المنتج</span>
                <span>المجموع</span>
            </li>
            <li>
                <span>المجموع الفرعي</span>
                <span class="bold" id="totalPrice"></span>
            </li>
            <li>
                <span>ضريبة القيمة المضافة</span>
                <span class="bold" id="totalTax"></span>
            </li>
            <li>
                <span class="bold">الإجمالي</span>
                <span class="bold" id="totalPriceall"></span>
            </li>
        </ul>



      @if(Model.CoursesIsonlineId == 2){
      <ul class="payment-methods">
        <li>
          <div>
            <input type="radio" name="payment" id="visa" checked>
            <label for="visa">
              الدفع المباشر عن طريق الفيزا
            </label>
          </div>
          <div>
            <img src="~/customer/content/assets/images/visapay.png" alt="">
          </div>
        </li>

        <li>
          <div>
            <input type="radio" name="payment" id="tamara" disabled>
            <label for="tamara">
              Tamara ادفع باستخدام مدى,
              <br> Apple Pay أو البطاقة الائتمانية
            </label>
          </div>
          <div>
            <img src="~/customer/content/assets/images/tmarasvg.svg" alt="" width="60px">
          </div>
        </li>

        <li>
          <div>
            <input type="radio" name="payment" id="mada">
            <label for="mada">
              الدفع المباشر عن طريق مدي
            </label>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="30" viewBox="0 0 64 30" fill="none">
              <rect width="64" height="30" rx="8" fill="#FEFEFE" />
              <path
                d="M25.1778 16.2789H13.0334C11.3581 16.2789 10 17.637 10 19.3123C10 20.9876 11.3581 22.3458 13.0334 22.3458H25.1778C26.8531 22.3458 28.2112 20.9876 28.2112 19.3123C28.2112 17.637 26.8531 16.2789 25.1778 16.2789Z"
                fill="#84B740" />
              <path
                d="M25.1751 8H13.0361C11.3593 8 10 9.3593 10 11.0361C10 12.7129 11.3593 14.0722 13.0361 14.0722H25.1751C26.8519 14.0722 28.2112 12.7129 28.2112 11.0361C28.2112 9.3593 26.8519 8 25.1751 8Z"
                fill="#259BD6" />
              <path
                d="M46.4207 21.0295C46.4207 21.0777 46.3867 21.1191 46.3395 21.1286C46.0584 21.1826 45.9556 21.2042 45.7501 21.2042C45.2743 21.2042 44.7119 20.9609 44.7119 19.8146C44.7119 19.2252 44.8092 18.4412 45.696 18.4412H45.7014C45.8528 18.452 46.0258 18.4683 46.3503 18.5656C46.3921 18.5784 46.4206 18.617 46.4206 18.6607L46.4207 21.0295ZM46.5667 15.397C46.4821 15.4127 46.4207 15.4865 46.4207 15.5725V17.4085C46.4207 17.476 46.3558 17.5247 46.2909 17.5057L46.2531 17.4949C46.1071 17.4517 45.7718 17.3544 45.4474 17.3544C43.6739 17.3544 43.3008 18.6954 43.3008 19.82C43.3008 21.361 44.1659 22.2478 45.6745 22.2478C46.3126 22.2478 46.783 22.1829 47.2588 22.0261C47.6968 21.8856 47.8536 21.6854 47.8536 21.2583V16.4812C47.8536 15.8006 47.2382 15.2864 46.5667 15.397Z"
                fill="#27292D" />
              <path
                d="M51.6935 21.1503C51.6935 21.1503 51.6935 21.1503 51.6935 21.1503L51.6179 21.1719L51.3476 21.2422C51.0935 21.3071 50.8663 21.345 50.6933 21.345C50.2769 21.345 50.0282 21.1395 50.0282 20.7881C50.0282 20.5609 50.1309 20.177 50.8122 20.177H51.2069C51.4756 20.177 51.6935 20.3949 51.6935 20.6636V21.1503C51.6935 21.1503 51.6935 21.1503 51.6935 21.1503ZM51.0718 17.3274C50.5257 17.3274 49.9633 17.4247 49.2658 17.641L49.2312 17.6513C48.9904 17.723 48.8388 17.9607 48.8754 18.2094L48.8949 18.3416C48.9305 18.5828 49.1748 18.7337 49.4064 18.6575C49.8715 18.506 50.45 18.4088 50.8826 18.4088C51.0773 18.4088 51.6721 18.4088 51.6721 19.0522C51.6721 19.2075 51.5462 19.3334 51.3909 19.3334H50.8448C49.3362 19.3334 48.6387 19.8146 48.6387 20.8474C48.6387 21.7287 49.2822 22.2586 50.3635 22.2586C50.6987 22.2586 51.1638 22.1937 51.5639 22.0964C51.5781 22.0928 51.5929 22.0928 51.6071 22.0964L51.7423 22.118C52.4106 22.2379 53.0292 21.7218 53.0292 21.0428V18.9764C53.0292 17.8843 52.3695 17.3274 51.0718 17.3274Z"
                fill="#27292D" />
              <path
                d="M41.183 21.1503C41.1837 21.1503 41.1839 21.1514 41.1831 21.1516L41.1121 21.1719L40.8417 21.2422C40.5876 21.3071 40.3658 21.345 40.1874 21.345C39.7711 21.345 39.5223 21.1395 39.5223 20.7881C39.5223 20.5609 39.6251 20.177 40.301 20.177H40.6957C40.9644 20.177 41.1823 20.3949 41.1823 20.6636V21.1496C41.1823 21.15 41.1826 21.1503 41.183 21.1503ZM40.5713 17.3274C40.0198 17.3274 39.4629 17.4247 38.7654 17.641L38.7308 17.6513C38.4899 17.723 38.3383 17.9607 38.375 18.2093L38.3944 18.3416C38.43 18.5828 38.6744 18.7337 38.9059 18.6575C39.371 18.506 39.9495 18.4088 40.3821 18.4088C40.5768 18.4088 41.1716 18.4088 41.1716 19.0522C41.1716 19.2075 41.0457 19.3334 40.8904 19.3334H40.3443C38.8357 19.3334 38.1328 19.8146 38.1328 20.8474C38.1328 21.7287 38.7763 22.2586 39.8631 22.2586C40.1983 22.2586 40.6634 22.1937 41.0635 22.0964C41.0777 22.0928 41.0925 22.0928 41.1067 22.0964L41.2364 22.118C41.9025 22.236 42.5233 21.7236 42.5233 21.0472V18.9818C42.5288 17.8789 41.8691 17.3274 40.5713 17.3274Z"
                fill="#27292D" />
              <path
                d="M35.4976 17.3389C34.8109 17.3389 34.2432 17.5661 34.0324 17.6634C33.9993 17.6799 33.9597 17.676 33.9306 17.6533L33.9296 17.6526C33.6376 17.4417 33.2104 17.3335 32.6157 17.3335C32.0912 17.3335 31.5992 17.4092 31.0638 17.566C30.6042 17.7065 30.4258 17.9283 30.4258 18.3446V21.4808C30.4258 21.878 30.7478 22.1999 31.1449 22.1999C31.5421 22.1999 31.8641 21.878 31.8641 21.4808V18.7102C31.8641 18.6665 31.8926 18.6278 31.9344 18.615C32.2264 18.5177 32.3995 18.5014 32.5671 18.5014C32.9834 18.5014 33.1943 18.7231 33.1943 19.1557V21.497C33.1943 21.8882 33.5114 22.2053 33.9026 22.2053C34.2938 22.2053 34.611 21.8882 34.611 21.497V19.0962C34.611 18.9325 34.5809 18.8289 34.5706 18.7928C34.5686 18.786 34.566 18.7794 34.5627 18.7732C34.5391 18.7286 34.5582 18.6733 34.6043 18.6528L34.6163 18.6474C34.8326 18.5501 35.0706 18.5014 35.3192 18.5014C35.6057 18.5014 35.9464 18.615 35.9464 19.1557V21.4997C35.9464 21.8894 36.2623 22.2053 36.652 22.2053C37.0417 22.2053 37.3577 21.8894 37.3577 21.4997V19.0152C37.3577 17.885 36.7521 17.3389 35.4976 17.3389Z"
                fill="#27292D" />
              <path
                d="M50.6367 11.9578C50.4259 11.9578 50.0744 11.9362 49.7986 11.8822C49.7515 11.8727 49.7175 11.8313 49.7175 11.7832V9.78412C49.7175 9.61106 49.6851 9.50295 49.6796 9.48669C49.6563 9.43997 49.6775 9.38326 49.7258 9.36336L49.7283 9.36231C49.7478 9.35259 49.7672 9.3472 49.7907 9.33834C49.796 9.33633 49.801 9.33365 49.8058 9.33051C49.8118 9.32647 49.8184 9.32326 49.8253 9.32096C49.8543 9.3113 49.8832 9.30165 49.9122 9.292C49.9371 9.28365 49.9629 9.27757 49.9884 9.27122C50.2924 9.19554 50.5663 9.20508 50.6909 9.1947H50.6963C51.5776 9.1947 51.6804 9.97872 51.6804 10.5681C51.6749 11.7146 51.1071 11.9578 50.6367 11.9578ZM50.6314 7.99988C50.6205 7.99988 50.6043 7.99988 50.5935 7.99988C49.7662 7.99988 48.9172 8.227 48.6144 8.67033C48.4522 8.88664 48.3603 9.15701 48.3549 9.47597V11.6226C48.3549 11.7775 48.328 11.8518 48.3163 11.881C48.3132 11.889 48.3096 11.8968 48.3056 11.9043C48.2794 11.9539 48.2278 11.9849 48.1717 11.9849H46.3975C45.9854 11.9849 45.6513 11.6508 45.6513 11.2387V10.4953C45.6513 10.4938 45.6501 10.4926 45.6486 10.4926C45.6471 10.4926 45.6459 10.4913 45.6458 10.4898C45.6124 8.91807 44.6827 8.05393 43.3371 8.05393H43.1803H42.4746C42.2157 8.05393 41.9957 8.24844 41.9577 8.50455C41.9113 8.81682 42.1538 9.09214 42.4695 9.09214H43.1803C43.867 9.09214 44.2293 9.67611 44.2293 10.5737V11.9777C44.2293 12.0227 44.1814 12.0515 44.1417 12.0305C44.1388 12.0289 44.1359 12.0276 44.1328 12.0266C44.1055 12.0178 43.9956 11.9849 43.8291 11.9849H42.0111C41.7569 11.9849 41.5462 12.1373 41.5086 12.3888C41.4619 12.7014 41.6984 13.0177 42.0145 13.0177H48.1758C48.2985 13.0177 48.4178 13.0054 48.5384 12.9833C48.9085 12.9156 49.2939 12.9843 49.6626 13.0593C49.9658 13.1209 50.3018 13.1529 50.5663 13.1529C52.0749 13.1529 53.0536 12.1417 53.0536 10.5845C53.0483 9.04345 52.1021 8.03231 50.6314 7.99988Z"
                fill="#27292D" />
              <path
                d="M38.4501 13.6508H38.515C40.0236 13.6508 40.7265 13.1533 40.7265 11.9259C40.7265 11.0445 40.083 10.3416 39.0016 10.3416H37.612C37.1957 10.3416 36.9469 10.1037 36.9469 9.70362C36.9469 9.43325 37.0497 9.09803 37.731 9.09803H40.3264C40.5821 9.09803 40.8014 8.90705 40.839 8.65416C40.886 8.33828 40.6392 8.05981 40.3198 8.05981H37.7687C36.298 8.05981 35.5572 8.67622 35.5572 9.70362C35.5572 10.7201 36.2007 11.25 37.2821 11.25H38.6717C39.088 11.25 39.3368 11.5799 39.3368 11.9259C39.3368 12.1531 39.234 12.6235 38.5581 12.6235H38.3256L33.8755 12.6127H33.0645C32.3777 12.6127 31.8965 12.2234 31.8965 11.3203V10.6985C31.8965 9.75767 32.2696 9.1737 33.0645 9.1737H33.9372C34.1938 9.1737 34.4137 8.97301 34.4512 8.71916C34.4972 8.40733 34.2531 8.14094 33.9379 8.14094H32.8914H32.7346C31.3882 8.14094 30.4582 9.04397 30.4258 10.6174V10.6769V11.3203C30.4582 12.8938 31.3882 13.6454 32.7346 13.6454H32.8914H34.0485L36.4601 13.6509H37.8984L38.4501 13.6508Z"
                fill="#27292D" />
            </svg>
          </div>
        </li>


        <li>
          <div>
            <input type="radio" name="payment" id="apple">
            <label for="apple">
              ادفع عن طريق آبل باي
            </label>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="25" viewBox="0 0 52 25" fill="none">
              <rect width="52" height="24.8358" rx="4" fill="black" />
              <path
                d="M14.7362 7.01851C15.1427 6.51422 15.433 5.84183 15.3459 5.16943C14.7362 5.19745 14.0104 5.56166 13.575 6.03794C13.1975 6.45818 12.8492 7.15859 12.9363 7.80297C13.633 7.88702 14.3008 7.5228 14.7362 7.01851ZM15.3459 7.97106C14.3588 7.91503 13.5169 8.50337 13.0524 8.50337C12.5879 8.50337 11.8621 7.99908 11.0782 7.99908C10.0621 8.0271 9.13311 8.55941 8.61054 9.45593C7.5654 11.221 8.32022 13.8265 9.36536 15.2553C9.8589 15.9557 10.4686 16.7402 11.2524 16.7122C12.0072 16.6841 12.2976 16.2359 13.1975 16.2359C14.0975 16.2359 14.3588 16.7122 15.1717 16.6841C15.9846 16.6561 16.5072 15.9837 17.0007 15.2553C17.5813 14.4428 17.8136 13.6584 17.8136 13.6304C17.7846 13.6023 16.2168 13.042 16.2168 11.305C16.1878 9.84816 17.4362 9.14775 17.4942 9.11973C16.8265 8.11115 15.7233 7.99908 15.3459 7.97106Z"
                fill="#FEFEFE" />
              <path
                d="M25.2177 6.41675C27.3078 6.41675 28.7482 7.80682 28.7482 9.79653C28.7482 11.8135 27.2795 13.2036 25.1612 13.2036H22.8734V16.7196H21.207V6.41675H25.2177ZM22.8734 11.868H24.7658C26.2062 11.868 27.0253 11.1048 27.0253 9.82378C27.0253 8.51548 26.2062 7.77956 24.7658 7.77956H22.8452V11.868H22.8734ZM29.1719 14.6209C29.1719 13.3126 30.2169 12.4949 32.081 12.3859L34.2276 12.2768V11.7045C34.2276 10.8595 33.6344 10.3689 32.6741 10.3689C31.7421 10.3689 31.1772 10.805 31.036 11.4592H29.5108C29.5955 10.0963 30.81 9.08786 32.7306 9.08786C34.623 9.08786 35.8375 10.0418 35.8375 11.5682V16.7469H34.3123V15.5203H34.2841C33.8322 16.3653 32.8436 16.8832 31.8268 16.8832C30.2452 16.8832 29.1719 15.9564 29.1719 14.6209ZM34.2276 13.9395V13.3398L32.307 13.4489C31.3467 13.5034 30.81 13.9122 30.81 14.5664C30.81 15.2205 31.3749 15.6566 32.2222 15.6566C33.352 15.6566 34.2276 14.9207 34.2276 13.9395ZM37.2497 19.527V18.2732C37.3627 18.3005 37.6451 18.3005 37.7581 18.3005C38.4924 18.3005 38.8879 18.0007 39.1421 17.2375C39.1421 17.2102 39.2833 16.7741 39.2833 16.7741L36.4589 9.2514H38.1818L40.1588 15.3841H40.1871L42.1642 9.2514H43.8588L40.9497 17.183C40.2718 19.0091 39.5092 19.5815 37.8993 19.5815C37.7863 19.5543 37.3909 19.5543 37.2497 19.527Z"
                fill="#FEFEFE" />
            </svg>
          </div>
        </li>


        <li>
          <div>
                    <input type="radio" name="payment" id="tabby" disabled>
            <label for="tabby">
              قسّمها على 4. بدون أي فوائد، أو 
              <br> رسوم.
            </label>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="23" viewBox="0 0 55 23" fill="none">
              <path
                d="M47.9131 22.685H7.08693C3.15351 22.685 0 19.4975 0 15.598V7.08693C0 3.15351 3.18742 0 7.08693 0H47.9131C51.8465 0 55 3.18742 55 7.08693V15.598C55 19.4975 51.8465 22.685 47.9131 22.685Z"
                fill="#5AFEAE" />
              <path
                d="M45.0985 7.29052L42.2841 18.0396V18.0735H44.4882L47.3026 7.32443H45.0985V7.29052ZM10.3082 13.3941C9.96906 13.5636 9.62998 13.6315 9.25698 13.6315C8.47708 13.6315 8.03626 13.4958 7.96845 12.8516V12.8176C7.96845 12.7837 7.96845 12.7837 7.96845 12.7498V10.8848V10.6814V9.35895V8.81641V8.61296V7.35834L6.00174 7.5957C7.32418 7.32443 8.07017 6.30716 8.07017 5.25599V4.61172H5.8661V7.6296L5.73047 7.66351V13.2245C5.79829 14.7844 6.84946 15.7338 8.51099 15.7338C9.12134 15.7338 9.76561 15.5982 10.2742 15.3608L10.3082 13.3941Z"
                fill="#292929" />
              <path
                d="M10.648 6.8837L4.47656 7.83314V9.39295L10.648 8.4435V6.8837ZM10.648 9.18949L4.47656 10.1389V11.6309L10.648 10.6815V9.18949ZM17.5653 9.90158C17.4636 8.17223 16.3785 7.12106 14.6153 7.12106C13.598 7.12106 12.7503 7.52797 12.1738 8.27396C11.5974 9.01995 11.2922 10.105 11.2922 11.4275C11.2922 12.7499 11.5974 13.835 12.1738 14.581C12.7503 15.327 13.598 15.7 14.6153 15.7C16.3785 15.7 17.4636 14.6827 17.5653 12.9195V15.5304H19.7694V7.32451L17.5653 7.6636V9.90158ZM17.701 11.4275C17.701 12.9534 16.8872 13.9706 15.6325 13.9706C14.344 13.9706 13.5641 13.0212 13.5641 11.4275C13.5641 9.83376 14.344 8.88432 15.6325 8.88432C16.2429 8.88432 16.7854 9.12168 17.1584 9.5964C17.4975 10.0372 17.701 10.6815 17.701 11.4275ZM26.1782 7.12106C24.4149 7.12106 23.3298 8.13833 23.2281 9.90158V4.91699L21.024 5.25608V15.5304H23.2281V12.9195C23.3298 14.6827 24.4149 15.7 26.1782 15.7C28.2466 15.7 29.5012 14.1063 29.5012 11.4275C29.5012 8.74868 28.2466 7.12106 26.1782 7.12106ZM25.1948 13.9706C23.9402 13.9706 23.1264 12.9873 23.1264 11.4275C23.1264 10.6815 23.3298 10.0372 23.6689 9.5964C24.0419 9.12168 24.5505 8.88432 25.1948 8.88432C26.4833 8.88432 27.2632 9.83376 27.2632 11.4275C27.2632 13.0212 26.4833 13.9706 25.1948 13.9706ZM35.4692 7.12106C33.7059 7.12106 32.6208 8.13833 32.5191 9.90158V4.91699L30.315 5.25608V15.5304H32.5191V12.9195C32.6208 14.6827 33.7059 15.7 35.4692 15.7C37.5376 15.7 38.7922 14.1063 38.7922 11.4275C38.7922 8.74868 37.5376 7.12106 35.4692 7.12106ZM34.4858 13.9706C33.2312 13.9706 32.4174 12.9873 32.4174 11.4275C32.4174 10.6815 32.6208 10.0372 32.9599 9.5964C33.3329 9.12168 33.8415 8.88432 34.4858 8.88432C35.7743 8.88432 36.5542 9.83376 36.5542 11.4275C36.5542 13.0212 35.7743 13.9706 34.4858 13.9706ZM38.7922 7.29061H41.1319L43.0308 15.5304H40.9285L38.7922 7.29061ZM49.1005 8.13832V7.49406H48.8292V7.35842H49.5413V7.49406H49.27V8.13832H49.1005ZM49.5752 8.13832V7.32451H49.8465L49.9821 7.69751C50.016 7.79924 50.0499 7.83315 50.0499 7.86706C50.0499 7.83315 50.0838 7.79924 50.1177 7.69751L50.2534 7.32451H50.5246V8.13832H50.3551V7.49406L50.1177 8.13832H49.9482L49.7447 7.49406V8.13832H49.5752Z"
                fill="#292929" />
            </svg>
          </div>
        </li>
      </ul>
        }
      <p>
        Your personal data will be used to process your order, support your experience throughout this website, and for
        other purposes described in our <a href="">سياسة الخصوصية.</a>
      </p>
       
      <div class="payment-role" style="display:flex; flex-direction:column">
          <div>
        <input type="checkbox" id="cheekel" required>
        <label for="">لقد قرأتُ <a href=""> الشروط والأحكام</a> وأوافق عليها لهذا الموقع *</label>
        </div>
        <div id="rule" class="mt-3 alert alert-danger" style="display:none">
        <label >لم يتم الموافقة على الشروط والاحكام</label>
            </div>
      </div>
      

      @if (!IsEx)
        {
            if (Model.CoursesIsonlineId == 1)
            {
                <a class="morw" id="voot" asp-route-Id="@Model.Id" asp-action="ActionMand">تأكيد الطلب</a>

            }
            else{
                <a class="morw" id="voot" asp-action="PayWithoutSaveData" asp-route-Paid="@Model.Cost" asp-route-describe="@Model.CoursesData.HeaderAr">تأكيد الطلب</a>
            }
      }
       
      else
        {
            <div class="text-center" style="padding-top: 30px;">
            <label  class="headerl">انت مشترك في الدورة بالفعل</label>
            </div>

        }
    
    </div>
  </div>

  <script>

    var prices = document.getElementById("price");
    var totalPriceElement = document.getElementById("totalPrice");
    var totalTaxElement = document.getElementById("totalTax");
    var totalDiscountElement = document.getElementById("totalDiscount");
    var totalPriceElementall = document.getElementById("totalPriceall");

    var totalAmount = 0;
    var priceText = prices.textContent.trim();
    var priceValue = parseFloat(priceText.replace(/[^\d.-]/g, ''));
   
    if (!isNaN(priceValue)) {
      totalAmount += priceValue;
   }

    totalPriceElement.textContent = totalAmount.toFixed(2) + "  ر.س";

    var totalTaxRate = 15;
    var totalTax = (totalAmount * totalTaxRate / 100);
    totalTaxElement.textContent = totalTax.toFixed(2) + "  ر.س";


    var totalPrice = (totalAmount + totalTax);
    totalPriceElementall.textContent = totalPrice.toFixed(2) + "  ر.س";
  </script>

  <script>
    var rule = document.getElementById("rule");
    var cheekel = document.getElementById("cheekel");
    var voot = document.getElementById("voot");
    voot.addEventListener("click", function (e) {
        if (cheekel.checked) {
            rule.style.display = "none";
        } else {
            e.preventDefault();
            rule.style.display = "block";
        }
    });

  </script>
