@model IEnumerable<WebApplicationAbad.Areas.Setting.Data.SettingsHome>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{


    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
            <div class="text-start">

                <a class="btn btn-outline-primary" asp-action="Create">اضافة <i class="fa-solid fa-plus"></i> </a>
            </div>
            <h2 class="card-title">الاعدادت</h2>
        </div>
        <div class="p-3 col-4">
            <input type="text" id="searchInput" class="form-control" oninput="searchTable()" placeholder="بحث">
        </div>



        <table id="myTable" class="table mt-2 table-striped">




    <thead>
        <tr>
            <th>Title</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TitlePlane</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>