@using WebApplicationAbad.Areas.AdminCoursesData.Models;
@using WebApplicationAbad.Data;
@inject ApplicationDbContext context;
@model WebApplicationAbad.Areas.AdminCoursesData.Models.Room;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Coursesm Scheduless";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var mod = context.coursesSchedulesses.Where(w => !w.IsDelete && w.RoomId == Model.Id).OrderByDescending(b => b.StartDate).ThenBy(b => b.StartTime).ToList();
    int Count = 0;
    DateTime DateNew = DateTime.Now;
    DateTime Date;
}
<link href="~/Admin/css/StyleSheet.css" rel="stylesheet">

<div class="col-12 myrow">
    <div class="card">
        <div class="card-header">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>اسم الغرفة بالعربي</th>
                    <th>اسم الغرفة بالانجليزي</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.RoomNameAR</td>
                    <td>@Model.RoomNameEN</td>
                </tr>
            </tbody>



        </table>

        <div class="text-center marg mt-5">
            <h4>الدورات المتواجدة بالغرفة</h4>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>م</th>
                    <th>اسم الدورة</th>
                    <th>تاريح البداية</th>
                    <th>تاريخ النهاية</th>
                    <th>عدد الاسابيع</th>


                </tr>
            </thead>
            <tbody>

                @foreach (var item in mod)
                {

                    <tr>
                        <th>
                            @{
                                Count++;
                            }
                            @Count
                        </th>
                        <th>@item.CoursesData.HeaderAr</th>
                        <th>@item.StartDate.Value.ToString("dd-MM-yyyy")</th>
                        <th>@item.EndDate.Value.ToString("dd-MM-yyyy")</th>
                        <td class="table-action">@item.NumberOfWeek</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
