@model WebApplicationAbad.Areas.AdminCoursesData.Models.CoursesStatus
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "GetCoursesStutesCretae";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row myrow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Courses Stutes</h2>
            </div>
            <div class="card-body">
                <form asp-action="GetCoursesStutesCretae" onsubmit="confirmFormAlert(this); return false">
                    <div class="mb-3" hidden="false">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" placeholder="Arabic Name" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label  class="control-label" > الاسم بالعربي</label>
                        <input asp-for="ArabicName" class="form-control" placeholder="الاسم بالعربي" required/>
                        <span asp-validation-for="ArabicName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label  class="control-label">الاسم بالانجليزي</label>
                        <input asp-for="EnglishName" class="form-control" placeholder="الاسم بالانجليزي" required />
                        <span asp-validation-for="EnglishName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="UserCode" type="text" value="111" hidden="false" class="form-control" />
                    </div>
                    <div class="mb-3" hidden="false">
                        <label class="form-check m-0">
                            <input class="form-check-input" hidden="@ViewBag.BoolValue" asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                        </label>
                    </div>
                    <div class="mb-3" hidden="false">
                        <label asp-for="CreatedDate" class="control-label"></label>
                        <input asp-for="CreatedDate" type="text" value="@DateTime.Now" class="form-control" placeholder="Created Date" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>

                    @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                    {
                        <div class="mb-3" hidden="@ViewBag.BoolValue">
                            <label class="form-check m-0">
                                <input class="form-check-input" hidden="@ViewBag.BoolValue" asp-for="IsHide" /> @Html.DisplayNameFor(model => model.IsHide)
                            </label>
                        </div>
                    <div class="mb-3">
                        <input asp-for="LastUpdateUserCode" type="text" value="111" hidden="false" class="form-control" />
                    </div>
                    <div class="mb-3" hidden="false">
                        <label asp-for="LastUpdateDate" class="control-label"></label>
                        <input asp-for="LastUpdateDate" type="text" value="@DateTime.Now" class="form-control" placeholder="Created Date" />
                        <span asp-validation-for="LastUpdateDate" class="text-danger"></span>
                    </div>
                     <div class="mb-3">
                        <input asp-for="LastUpdateUserCode" hidden="false" class="form-control" />
                    </div>
                    }
                    <button type="submit" class="btn btn-primary">@ViewBag.coursesStatus</button>
                    <a asp-action="GetCoursesStutesIndex" class="btn btn-info">الرجوع للخلف</a>
                </form>
            </div>
        </div>
 </div>
 </div>
<script>
    const confirmFormAlert = async function (form) {
        const sweetConfirm = await swal("Success!", "operation accomplished successfully", "success");
        if (sweetConfirm) {
           form.submit();
        }
        return sweetConfirm;
        }
 </script>









