@model WebApplicationAbad.Areas.AdminCoursesData.Models.CoursesData
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Courses Data Cretae";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .inject {
        display: flex;
        flex-direction: column;
        text-align: center
    }

    .badge {
        background: #007bff
    }
</style>

<div class="row myrow">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">
                <h2 class="card-title">محتوي الكورس</h2>
            </div>
            <div class="card-body">
                @*onsubmit="confirmFormAlert(this); return false"*@
                <form asp-action="GetCoursesDataCreate" onsubmit="confirmFormAlert(this); return false" enctype="multipart/form-data">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3" hidden="false">
                            <label asp-for="Id" class="control-label"></label>
                            <input asp-for="Id" class="form-control" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label class="control-label"> اسم الدوره بالانجليزي</label>
                            <textarea asp-for="HeaderEn" class="form-control" placeholder=" اسم الدوره بالانجليزي" required rows="4">
                            </textarea>

                            <span asp-validation-for="HeaderEn" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="control-label">  اسم الدوره بالعربي</label>
                            <textarea asp-for="HeaderAr" class="form-control" placeholder="اسم الدوره بالعربي" required rows="4">



                            </textarea>
                            <span asp-validation-for="HeaderAr" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="control-label"> ملخص الدوره </label>


                    
                                <textarea id="alswafiy" asp-for="SummaryAr" class="form-control" placeholder="ملخص الدوره ">

  </textarea>
                        <span asp-validation-for="SummaryAr" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-12 col-md-6">
                        <label asp-for="GoalsAr" class="control-label"> اهداف الدوره </label>


           
                            <textarea id="alswafiy" asp-for="GoalsAr" class="form-control" placeholder="اهداف الدوره "></textarea>


                    <span asp-validation-for="GoalsAr" class="text-danger"></span>
                </div>

                <div class="mb-3 col-12 col-md-6">
                    <label class="control-label">من يحتاج هذه الدوره  </label>

                        <textarea id="alswafiy" asp-for="TargetAr" class="form-control" placeholder="من يحتاج هذه الدوره "></textarea>
                <span asp-validation-for="TargetAr" class="text-danger"></span>
            </div>

            <div class="mb-3 col-12 col-md-6">
                <label class="control-label"> مهارات وكفاءات</label>

                    <textarea id="alswafiy" asp-for="DetailsAr" class="form-control" placeholder="مهارات وكفاءات "> </textarea>

            <span asp-validation-for="DetailsAr" class="text-danger"></span>
        </div>

        <div class="mb-3 col-12 col-md-6">
            <label class="control-label">  الاختبار</label>

                <textarea id="alswafiy" asp-for="TestAr" class="form-control" placeholder="تفاصيل الاختبار"></textarea>
        <span asp-validation-for="TestAr" class="text-danger"></span>
    </div>

    <div class="mb-3 col-12 col-md-6">
        <label class="control-label">اقسام الدورات</label>
                            @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                            {
            <select class="form-select" asp-for="CoursesTypeId" asp-items="@ViewBag.FillData"></select>
                            }
                            else
                            {
            <select class="form-select" asp-for="CoursesTypeId" asp-items="@ViewBag.FillData"></select>
                            }
        <span asp-validation-for="CoursesType.EnglishName" class="text-danger"></span>
    </div>

    <div class="mb-3 col-12 col-md-6">
        <label class="control-label" placeholder="سعر الدوره" asp-for="Price">سعر الدورة</label>
        <input class="form-control" placeholder="سعر الدوره" asp-for="Price" />
    </div>

    <div class="mb-3 d-flex col-md-6">
        <div>
            <label class="control-label"> الصوره</label>
                                @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                                {
                <input type="file" asp-for="FormFiles" class="form-control" onchange="ImageLoad(event)" accept="image/png,image/jpeg" />
                                }
                                else
                                {
                <input type="file" required asp-for="FormFiles" class="form-control" onchange="ImageLoad(event)" accept="image/png,image/jpeg" />
                                }
        </div>
                            @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                            {
            <div>
                <img id="LoadIameg" src="~/Admin/CoursesDataImage/@Model.Image" width="150px" />
            </div>
                            }
                            else
                            {
            <div>
                <img id="LoadIameg" width="150px" />
            </div>
                            }
    </div>

    <div class="mb-3 d-flex col-md-6">
        <div>
            <label class="control-label">ملفات الدوره</label>
            <input type="file" FileLoad asp-for="FormFileData" id="inputFile" onchange="FileLoad(event)" class="form-control" />
        </div>
        <div class="inject">
            <img src="~/Admin/img/icons/ZIP.ico" width="100px">
                                @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                                {
                <span class="badge">Old File</span>

                                    <span>@Model.FilesData</span>
                                }
        </div>
    </div>

    <div class="mb-3" hidden="false">
        <label class="form-check m-0">
            <input class="form-check-input" hidden="@ViewBag.BoolValue" asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
        </label>
    </div>

</div>

                    @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                    {
    <div class="mb-3" hidden="@ViewBag.BoolValue">
        <label class="form-check m-0">
            <input class="form-check-input" hidden="@ViewBag.BoolValue" asp-for="IsHide" /> @Html.DisplayNameFor(model => model.IsHide)
        </label>
    </div>
                    }
<button type="submit" class="btn btn-primary">@ViewBag.coursesStatus</button>
<a asp-action="GetCoursesDataIndex" class="btn btn-info">الرجوع للخلف</a>
</form>
</div>
</div>
</div>
</div>


<script>
    // Function to validate image size and extension
    var ImageLoad = function (event) {
        var allowedExtensions = ['jpg', 'png', 'webp'];
        var file = event.target.files[0];
        var fileExtension = file.name.split('.').pop().toLowerCase();
        var img = document.getElementById("LoadIameg");

        if (file.size > 40 * 1024 * 1024) { // 40 MB
            alert("The image size should not exceed 40MB.");
            event.target.value = '';
            return;
        }

        if (allowedExtensions.includes(fileExtension)) {
            var reader = new FileReader();
            reader.onload = function () {
                img.src = reader.result;
            }
            reader.readAsDataURL(file);
        } else {
            alert("Please upload image type (jpg, png,webp) only");
            event.target.value = '';
        }
    }

    var ImageLoads = function (event) {
        var allowedExtensions = ['jpg', 'png', 'webp'];
        var file = event.target.files[0];
        var fileExtension = file.name.split('.').pop().toLowerCase();
        var img = document.getElementById("LoadIamegs");

        if (file.size > 40 * 1024 * 1024) { // 40 MB
            alert("The image size should not exceed 40MB.");
            event.target.value = '';
            return;
        }

        if (allowedExtensions.includes(fileExtension)) {
            var reader = new FileReader();
            reader.onload = function () {
                img.src = reader.result;
            }
            reader.readAsDataURL(file);
        } else {
            alert("Please upload image type (jpg, png, webp) only");
            event.target.value = '';
        }
    }

    // Function to validate file size
    var FileLoad = function (event) {
        var file = event.target.files[0];

        if (file.size > 500 * 1024 * 1024) { // 500 MB
            alert("The file size should not exceed 500MB.");
            event.target.value = '';
        }
    }

    // Function to validate all file sizes in the form before submission
    var validateFileSizes = function () {
        var files = document.querySelectorAll('input[type="file"]');
        for (var i = 0; i < files.length; i++) {
            if (files[i].files.length > 0 && files[i].files[0].size > 500 * 1024 * 1024) {
                return false;
            }
        }
        return true;
    }

    // Form submission event to check file sizes
    var form = document.querySelector('form');
    form.addEventListener('submit', function (event) {
        if (!validateFileSizes()) {
            alert("One or more files exceed the 500MB size limit.");
            event.preventDefault();
        }
    });
</script>


<script src="https://cdn.tiny.cloud/1/kfrv2muqtarthjfdqul6ycx9qbh7pep6swo2yjkjtj7aursl/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#alswafiy',
        width: "100%",
        height: 500,
        resize: false,
        autosave_ask_before_unload: false,
        plugins: [
            'advlist', 'anchor', 'autolink', 'codesample', 'fullscreen', 'help',
            'image', 'lists', 'link', 'media', 'preview',
            'searchreplace', 'table', 'visualblocks', 'wordcount'
        ],
        toolbar: 'undo redo | bold italic | forecolor backcolor | codesample | alignleft aligncenter alignright alignjustify | bullist numlist | link image',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px } ul,ol{direction:rtl}'
    });
</script>